{% extends "common/base_design.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
	{% breadcrumb "Office" "/admin/asset/office/"  %}
	{% breadcrumb "Update office" %}
{% endblock %}

{% block mainbody %}

{% if form %}
<div style="width:60%; min-width:600px; margin-left:20px; text-align:left;">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
	<div class="box">
		<div class="box_title">
			Update office
		</div>
		<div class="content">
			<form  action="/admin/asset/office/change_office/{{ obj_id }}/" method="post" >
				{% csrf_token %}
				{{ form }}
				<div style="padding-right:22px;">
					{% include "asset/ownership/_ownership_block.html" with asset_type="office" %}	
				</div>
				<div>
					<input type="submit" value="Save" name="submit_update" class="my_button" />
				</div>	
			</form>
		</div>	
	</div>
</div>
{% else %}

{% include "asset/office/_office_search.html" with action="change" %}

{% endif %}
{% endblock %}
