

@media screen,print
{


	body
	{
		margin: 0px;
		background-color: blue;
		padding: 0px;
		font-size: 13px;
		font-family: Arial;
	}



	.header1
	{
		height: 100px;
		width: 100%;
		display: block;
		text-align: left;
		background: url('/static/images/header_bg.png') repeat-x;
	}

	.section_container
	{
		display: block;
	}

		.section_container .content_type_container
		{
			display: inline;
			margin-top: 20px;
			float: left;
			padding-left: 10px;
		}

		.section_container .permission
		{
			display: inline;
			float: right;
			margin-top: 20px;
			margin-left: 20px;
			margin-right: 20px;
		}


	.content_type_container .content_type
	{
		display: inline;
		float: left;
		width: 138px;
		text-align: center;
	}

	.content_type .img
	{
		display: block;
	}

	.content_type .desc
	{
		text-align: center;
		font-family: 'Asap', sans-serif;
		font-size: 15px;
	}

	.desc a:link, .desc a:visited
	{
		text-decoration: none;
		color: #555555;
	}


	.separator
	{
		clear: both;
		height: 1px;
		line-height: 1px;
	}

	.workflow_container
	{
		width: 100%;
		text-align: left;
		margin-top: 20px;
		border-top: 1px solid #CCCCCC;
		display: block;
	}

		.workflow_container .permission_container
		{
			display: block;
			margin-top: 20px;
		}

	.permission_container .permission
	{
		display: inline;
		display: inline;
		float: left;
		width: 120px;
		text-align: center;
	}


	.permission .img
	{
		display: block;
	}

	.permission .desc
	{
		text-align: center;
	}

	.desc a:link, .desc a:visited
	{
		text-decoration: none;
		color: #555555;
	}

	.title a:link, .title a:visited
	{
		text-decoration: none;
		color: white;
	}

	ul li .radio
	{
		list-style-type: none;
	}

	.content_type_action
	{
		margin-top: 20px;
		text-align: center;
	}

		.content_type_action a:link, .content_type_action a:visited
		{
			text-decoration: none;
			color: #555555;
			margin-left: 10px;
			margin-right: 10px;
		}










	.user_dropdown
	{
		display: block;
		position: relative;
	}

		.user_dropdown .keyword_div
		{
			margin: 0px;
			padding: 0px;
		}

			.user_dropdown .keyword_div input.keyword
			{
				width: 150px;
				height: 18px;
				font-size: 12px;
				padding: 0px;
				line-height: 16px;
			}

	.matched_users_div
	{
		position: absolute;
		left: 0px;
		line-height: 22px;
		top: 22px;
		width: 154px;
		background-color: #EEEEEE;
	}

		.matched_users_div ul
		{
			width: 154px;
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

			.matched_users_div ul li
			{
				border-bottom: 1px dotted #cccccc;
				font-size: 12px;
				width: 154px;
				text-indent: 4px;
			}

	.user_action_title
	{
		margin-top: 15px;
		margin-bottom: 20px;
		margin-left: 10px;
		display: block;
		text-align: left;
		font-size: 18px;
	}


	div#maparea
	{
		position: relative;
		border: 1px solid #cccccc;
		width: 100%;
		height: 500px;
	}

	div#leftpanels
	{
		position: absolute;
		text-align: left;
		height: 100%;
		padding-bottom: 1px;
		margin: 0px;
		background-color: white;
		z-index: 2000;
		left: 0px;
		top: 0px;
	}

	div.leftpanel
	{
		display: inline;
		float: left;
		border-right: 1px solid #cccccc;
		height: 100%;
	}

	div.panelcontent
	{
		display: inline;
		float: left;
	}

	div.hidepanel
	{
		display: inline;
		float: left;
		margin-top: 15px;
	}

		div.hidepanel img, div.showpanel img
		{
			width: 20px;
			height: 20px;
			border: 0px;
		}

	div.showpanel
	{
		display: inline;
		float: left;
		margin-top: 15px;
		position: relative;
	}




	.rotate
	{
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		position: absolute;
		right: 0px;
		font-size: 16px;
		font-weight: bold;
		width: 25px;
		top: 80px;
		color: red;
	}

	#page_navigator a:link, #page_navigator a:visited
	{
		color: #555555;
	}

	.padded_div
	{
		margin: 20px 0px 0px 20px;
		text-align: left;
	}

	.style_heading
	{
		background: #EAEAEA;
		color: #00B5D0;
		font-family: Arial;
		text-align: left;
		padding: 2px 10px;
		border: 1px solid black;
	}

	.style_heading_1
	{
		color: #00B5D0;
		font-family: Arial;
		text-align: left;
		padding: 2px;
	}

	h4
	{
		line-height: 30px;
		margin: 0px;
		color: green;
		font-family: Arial;
	}

	.note
	{
		color: gray;
		font-style: italic;
	}

		.note ul
		{
			margin: 0px;
		}
	/* form css*/
	form
	{
		position: relative;
	}

		form label
		{
			font-weight: bold;
			display: block;
		}

		form span.helptext
		{
			font-size: 10px;
			color: gray;
			clear: both;
			display: block;
			font-style: italic;
			margin: 0px 10px 15px 5px;
		}

		form input[type=submit], form input[type=button]
		{
			background: #00B5D0;
			padding: 5px 20px 5px 20px;
			font-size: 15px;
			font-weight: bold;
			color: white;
			cursor: pointer;
		}

		form input[readonly="readonly"]
		{
			background-color: #c4c4c4;
		}

		form .errorlist
		{
			color: red;
			margin: 0px;
			font-size: 10px;
			padding: 0px;
		}

			form .errorlist li
			{
				list-style: none;
			}

		form.label_float_left label
		{
			float: left;
			margin-right: 10px;
			width: 90px;
		}

	.read_only_overlay
	{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
	}

	.button_styled
	{
		background: #00B5D0;
		padding: 5px 20px 5px 20px;
		font-size: 15px;
		font-weight: bold;
		color: white;
		cursor: pointer;
	}


	.messages
	{
		text-align: left;
		margin: 20px;
		list-style: none;
		min-height: 40px;
		line-height: 40px;
	}

		.messages li.success
		{
			color: #00B5D0;
            padding: 10px;
		}

		.messages li.error
		{
			color: red;
            padding: 10px;
		}

	/* Ownership CSS 
#ownership_block
{
    width: 743px;
    border: px;
    border-top: 1px dashed #c4c4c4;
}
	*/
	#ownership_block legend
	{
		color: #00B5D0;
	}

	#ownership_block #search_result,
	#ownership_block #existing_ownership
	{
		float: left;
	}

	#ownership_block select, #existing_ownership select
	{
		width: 300px;
	}

	#ownership_block #command_block
	{
		float: left;
		text-align: center;
		padding: 0px 10px;
	}

		#ownership_block #command_block input
		{
			text-align: right;
		}

		#ownership_block #command_block button
		{
			width: 120px;
			margin: 0 auto;
		}

	/* Receipt CSS */
	#receipt
	{
		border: 1px solid #c4c4c4;
		position: relative;
		padding: 10px;
		line-height: 16px;
		width: 1000px;
		text-align: left;
		margin: 0 auto;
		background: white;
	}

		#receipt h2
		{
			font-size: 16px;
			text-align: left;
		}

		#receipt h3
		{
			font-size: 13px;
			color: red;
			text-decoration: underline;
			text-align: left;
		}

		#receipt .pay_details
		{
			position: absolute;
			top: 25px;
			right: 20px;
		}

			#receipt .pay_details label
			{
				float: left;
				display: block;
				width: 80px;
				line-height: 16px;
				margin: 0px;
			}
            #receipt.epay .pay_details label
			{
				width: 100px;
			}
            #receipt.multipay .pay_details label
			{
				width: 120px;
			}

		#receipt #payments th, #receipt #payments td
		{
			border-bottom: 1px solid black;
			padding: 5px;
			width: 200px;
			text-align: left;
		}

		#receipt #payments .reference_col
		{
			width: 400px;
		}
		#receipt.epay #payments .reference_col
		{
			width: 600px;
		}
		#receipt.multipay #payments .reference_col
		{
			width: 600px;
		}

		#receipt #payments .center
		{
			text-align: center;
			display: table-cell;
		}

		#receipt #payments .no_border td
		{
			border: 0px;
		}

		#receipt #payments .total_amount
		{
			border: 1px solid black;
			padding: 3px 5px 3px 5px;
		}

		#receipt .note
		{
			width: 300px;
			position: absolute;
			bottom: 10px;
			right: 20px;
		}

	.warning
	{
		color: red;
		font-style: italic;
	}
/* Tax Setting Tables */
.setting_box
{
    width:1250px;
    min-width:600px; 
    margin-left:20px; 
    text-align:left;
}
.setting_box .rates
{
    width: 50px;
}

	#receipt #future_payments td
	{
		padding: 10px 20px 10px 20px;
	}


	.trading_license_table th, .trading_license_table td
	{
		text-align: center;
		font-weight: bold;
		padding: 5px;
	}

	.trading_license_table .first_col
	{
		text-align: right;
	}

	#payment_reverse_form label
	{
		float: left;
		width: 150px;
		margin-right: 5px;
	}

	.print_payment_link
	{
		float: right;
		margin: 5px;
	}

	.clear
	{
		clear: both;
	}

	span.required
	{
		color: red;
	}

	/* Media CSS */
	.media_upload_box
	{
		border: 1px solid #c4c4c4;
		background: #eaeaea;
		padding: 5px;
		border-radius: 10px;
		margin: 5px;
	}

		.media_upload_box label
		{
			float: left;
			font-weight: bold;
			width: 100px;
		}

	#taxes .media_link
	{
		margin: 5px 2px 0px 2px;
	}

	#add_tag_box
	{
		float: left;
	}

	#tags_label
	{
		font-weight: bold;
	}

	#media_association
	{
		width: 700px;
	}

		#media_association .left_div
		{
			width: 400px;
			border-right: 1px solid #c4c4c4;
		}

	#media_box
	{
		width: 1200px;
	}

		#media_box table th, #media_box table td
		{
			padding: 5px;
		}

		#media_box table a
		{
			text-decoration: none;
		}


	/* Show Taxes */
	.float_div
	{
		border-right: 1px solid #c4c4c4;
		padding: 5px 25px 5px 25px;
		float: left;
	}

	.target_details
	{
		border: 1px double #c4c4c4;
		padding: 5px;
	}

		.target_details div
		{
			line-height: 18px;
		}

		.target_details label
		{
			font-weight: bold;
			width: 120px;
			float: left;
			display: block;
			text-align: right;
			margin-right: 10px;
		}

	/* Tax Calculation Table*/
	#tax_calculation
	{
	}

		#tax_calculation th, #tax_calculation td
		{
			padding: 10px;
		}

		#tax_calculation th
		{
			background: #b3e6ff;
			color: #1a40ff;
			padding: 15px;
		}

		#tax_calculation td
		{
			/*text-align: right;*/
		}

		#tax_calculation td a
		{
			color: green;
		}

		#tax_calculation select
		{
			width: auto;
		}

		#tax_calculation .first_col
		{
			text-align: left;
		}

		#tax_calculation .right_align
		{
			text-align: right;
		}

	/* Tax Setting Tables */
	.setting_box
	{
		width: 95%;
		min-width: 600px;
		margin-left: 20px;
		text-align: left;
	}

		.setting_box .rates
		{
			width: 50px;
		}

	/* Common table CSS */
	.style_table th
	{
		background: #c4c4c4;
	}

	.style_table th, .style_table td
	{
		padding: 5px;
		border: 1px solid #c4c4c4;
	}

	.style_table td
	{
	}

	input[type=text]
	{
		-webkit-appearance: none;
		-webkit-border-image: none;
		-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
		-webkit-rtl-ordering: logical;
		-webkit-transition-delay: 0s, 0s;
		-webkit-transition-duration: 0.20000000298023224s, 0.20000000298023224s;
		-webkit-transition-property: border, box-shadow;
		-webkit-transition-timing-function: linear, linear;
		-webkit-user-select: text;
		-webkit-writing-mode: horizontal-tb;
		background-color: rgb(255, 255, 255);
		border-bottom-color: rgb(196, 196, 196);
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: rgb(196, 196, 196);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: rgb(196, 196, 196);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: rgb(196, 196, 196);
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-top-style: solid;
		border-top-width: 1px;
		box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
		box-sizing: border-box;
		color: rgb(119, 119, 119);
		cursor: auto;
		display: inline-block;
		float: none;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 12px;
		font-weight: normal;
		height: 25px;
		letter-spacing: normal;
		line-height: 20px;
		margin: 0px;
		min-height: 25px;
		outline-color: rgb(119, 119, 119);
		outline-style: none;
		outline-width: 0px;
		padding-bottom: 3px;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		text-align: start;
		text-indent: 0px;
		text-shadow: none;
		text-transform: none;
		vertical-align: middle;
		word-spacing: 0px;
		width: 200px;
	}

	textarea
	{
		width: 320px;
		height: 80px;
	}

    /* Media Preview*/
    #media_preview_panel
    {
        width: 600px;
        height: 600px;
        text-align: center;
        border: 1px solid inset;
        padding: 100px 50px 0px 50px ;
    }

    #media_preview_panel img
    {
        max-height: 600px;
    }

    #media_preview_control
    {
        width: 700px;
        height: 50px;
        text-align: center;
    }

    #media_preview_control img
    {
        cursor: pointer;
    }

	TABLE #activity_table
	{
		border:0pt #cccccc solid;
		padding:6px;
		margin:5px;
		border-collapse:separate;
	}

		#activity_table TH:first-child
		{
			text-align:left;
		}

		#activity_table TH
		{
			text-align:center;
			border-bottom:1pt #e4e4e4 solid;
			padding:6px;
			font-weight:normal;
			font-size:14px;
			padding-left:16px;
			padding-right:8px;
			background: #E4ECF2;
			border-right:1pt white solid;
			border-bottom:1pt white solid;
		}

		#activity_table TD
		{
			text-align:center;
			margin:auto;
			padding:4px;
			border-bottom:1pt #e4e4e4 solid;
			padding-left:15px;
			padding-right:15px;
			border-right:1pt #e4e4e4 solid;
		}

		#activity_table INPUT
		{
			display:block;
			margin:auto;
		}

		#activity_table INPUT[type=text]
		{
			width:70px;
			text-align:right;

		}

	#id_turnover
	{
		text-align:right;
	}

	#wrapper
	{
		margin-left:25px;
	}

	#payment_form
	{
		margin-bottom:50px;
	}
	

	#payment_form TR
	{
		border-bottom: 1pt #cccccc solid;
		
	}

		#payment_form TD, #payment_form TH
		{
			padding: 8px;
			padding-left:16px;
		}

		#payment_form TR TD:first-child, #payment_form TR TH:first-child
		{
			background: #E4ECF2;
			border-right:1pt #e4e4e4 solid;
			border-left:1pt #e4e4e4 solid;
			font-weight:normal;
			font-size:14px;
			width: 170px;
			border-radius:2px;
		}


		.menu_panel
		{
			background: rgba(255,255,255,1);
			background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(208,223,235,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(208,223,235,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(208,223,235,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(208,223,235,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(208,223,235,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(208,223,235,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0dfeb', GradientType=0 );
			border-right:1pt #e4e4e4 solid;
			font-weight:normal;
			font-size:14px;
		}

	.ajax_message, .messages LI
	{
		border-radius:5px;
		border:1pt green solid;
		color:green;
		padding:4px;
		background:#ECF7D5;
		line-height:normal;
	}

	.ajax_message
	{
		display:none;
	}

	.messages LI
	{
		margin-left: 20px;
		margin-right: 100px;
	}

	a
	{
		text-decoration: underline;
	}

	#summary_table
	{
		border-bottom:1pt #cccccc solid;
		margin-bottom:20px;
	}


	#summary_table TD, #summary_table TH
	{
		padding-left:5px;
		padding-right:20px;
	}



	input[type=submit]
	{
		margin-top:15px;
	}
	

	#fee_calculation TD, #installments TD, #payments TD
	{
		border-bottom: 1pt #cccccc solid;
		border-right: 1pt #cccccc solid;
		padding: 8px;
	}

	#fee_calculation TH , #installments TH, #payments TH
	{
		border-bottom: 1pt #cccccc solid;
		padding: 8px;
	}

	.right_panel
	{
		background:-webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
		padding:20px; 
		margin-bottom:20px; 
		margin-right:0px;
		border: 1pt #cccccc solid;
		border-right:none;
		float:right;
		clear:right;
	}

	INPUT[type="text"].currency
	{
		text-align:right; 
		width:160px;
	}

	FORM UL LABEL
	{
		font-weight:normal;
		font-size:13px;
	}

	FORM UL
	{
		list-style:none;
		list-style-type:none;
	}


	FORM UL LABEL INPUT[type="checkbox"]
	{
		margin:0
	}


}


