body{
	margin:0px;
	background-color:white;
	text-align:center;
	padding:0px;
}

.header{
	height:100px;
	width:100%;
	display:block;
	text-align: left;
	background:url('/static/images/header_bg.png') repeat-x;
}

.title{
	
	float:left;
	font-size:50px;
	line-height:72px;
	font-family: 'Asap', sans-serif;
	color:white;
	
}
.section_container{
	display:block;
}

.section_container .content_type_container{
	display:inline;
	margin-top:20px;
	float:left;
	padding-left:10px;
}

.section_container .permission{
	display:inline;
	float:right;
	margin-top:20px; 
	margin-left:20px;
	margin-right:20px;
}


.content_type_container .content_type{
	display:inline;
	float:left;
	width:138px;
	text-align:center;
}

.content_type .img{
	display:block;

}

.content_type .desc{
	text-align:center;
}

.desc a:link, .desc a:visited{
	text-decoration: none;
	color:#555555;
}


.separator{
	clear:both;
	height:1px;
	line-height:1px;
}
.workflow_container{
	width:100%;
	text-align:left;
	margin-top:20px;
	border-top:1px solid #CCCCCC;
	display:block;
}

.workflow_container .permission_container{
	display:block;
	margin-top:20px;
}

.permission_container .permission{
	display:inline;
	display:inline;
	float:left;
	width:120px;
	text-align:center;
}


.permission .img{
	display:block;
}

.permission .desc{
	text-align:center;
}

.desc a:link, .desc a:visited{
	text-decoration: none;
	color:#555555;
}

.title a:link, a:visited{
	text-decoration: none;
	color:white;
}

ul li .radio {
	list-style-type: none;
}

.content_type_action{
	margin-top:20px;
	text-align:center;
}

.content_type_action a:link, .content_type_action a:visited{
	text-decoration: none;
	color:#555555;
	margin-left:10px;
	margin-right:10px;
}










.user_dropdown{
	display:block; 
	position:relative;
}

.user_dropdown .keyword_div{
	margin:0px;
	padding:0px;
}

.user_dropdown .keyword_div input.keyword{
	width:150px; 
	height:18px; 
	font-size:12px; 
	padding:0px; 
	line-height:16px;
}

.matched_users_div{
	position:absolute; 
	left:0px; 
	line-height:22px; 
	top:22px; 
	width:154px; 
	background-color:#EEEEEE;
}

.matched_users_div ul{
	width:154px;
	margin:0px; padding:0px; list-style: none;	
}

.matched_users_div ul li{
	border-bottom: 1px dotted #cccccc;
	font-size:12px;
	width:154px;
	text-indent:4px;
}

.user_action_title{
	margin-top:15px;
	margin-bottom:20px;
	margin-left:10px;
	display:block;
	text-align:left;
	font-size:18px;
}


div#maparea{
	position:relative; border:1px solid #cccccc; width:100%; height:500px;
}

div#leftpanels{
	position:absolute; text-align: left; height: 100%; 
	padding-bottom: 1px; margin: 0px; background-color:white; 
	z-index:2000; left:0px; top: 0px;
}

div.leftpanel{
	display:inline; float:left; 
	border-right:1px solid #cccccc;
	height:100%;
}

div.panelcontent{
	display:inline; float:left;
}

div.hidepanel{
	display:inline; float:left; margin-top:15px; margin-left:10px;
}

div.hidepanel img, div.showpanel img{
	width:20px;
	height:20px;
	border:0px;
}

div.showpanel{
	display:inline; float:left; margin-top:15px;
}























