{% extends "common/base_design.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
	{% breadcrumb "Vehicle" "/admin/asset/vehicle/"  %}
	{% breadcrumb "Update vehicle" %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript" >
        $(function() {
        $("input#id_use_since").datepicker({ dateFormat: "dd/mm/yy" });
        })
    </script>
{% endblock %}

{% block mainbody %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if form %}
<div class="user_action_title">
	Update vehicle
</div>

<div class="padded_div">
    <form  action="/admin/asset/vehicle/change_vehicle/{{ obj_id }}/" method="post" >
	{% csrf_token %}
    {{ form }}
	{% include "asset/ownership/_ownership_block.html" with asset_type="vehicle" %}	
    <input type="submit" value="Save" name="submit_update"/>
    </form>
</div>
{% else %}

{% include "asset/vehicle/_vehicle_search.html" with action="change" %}

{% endif %}
{% endblock %}
