{% extends "common/base_design.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
	{% breadcrumb "Vehicle" "/admin/asset/vehicle/"  %}
	{% breadcrumb "View vehicle" %}
{% endblock %}

{% block mainbody %}

{% if form %}
<div class="user_action_title">
	View vehicle
</div>

<div class="padded_div">
    <form class="readonly_form">
    {{ form }}
	{% include "asset/ownership/_ownership_block.html" with asset_type="vehicle" action="view" %}	
    <div class="read_only_overlay"></div>
    </form>
    <br/>
    <br/>
</div>
{% else %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% include "asset/vehicle/_vehicle_search.html" with action="view" %}

{% endif %}
{% endblock %}
