{% extends "collect/main.html" %}

{% block main %}
<h1>ReadMe</h1>

This site will allow you to generate E-PAY numbers into our system.
They will be links to registered users and regional sectors.
<p/>
<ul>
<li>Step 1. - Add a collection group from the above menu. It is up to you how to organise collection groups, but they are simply
collections of registered users. </li>
<li>Step 2. - Add registered users from the 'Register Collector' link above. Allocate to the Collection group you just created.</li>
<li>Step 3. - Add registered users from the 'Register Collector' link above. You can put in a registration number for each user (optional). Allocate to the Collection group you just created from selection list.</li>
<li>Step 4. - Select 'Generate EPays' link above. Enter the number of EPay numbers to generate. Then allocate, a collection group and sector. After clicking button, it will generate
Epays evenly amongst registered users in the collection group.</li>
<li>Step 5. - From the 'Epay log' link above, you will see a batch line for Epays you just created. Click 'Download CSV' for that line.</li>
<li>Step 6. - Perform a mail merge in a spreadsheet, eg. OpenOffice. using the CSV downloaded. If the registered user is to be using paper forms, your mail merge form
will need to be a complete form so that details can be re-entered in the system later. Otherwise, the mail merge forms will only need to be the receipts that are given out.
Ensure that the registered user/operators name and epay number appear on the receipts.</li>
<ul>

<h2>To Do</h2>
<ul>
<li>Create forms for data entry. Users will enter information based on mail merge field forms. Data entry will retrieve relevant record via epay number. Note that there
is provision to enter an alternate epay number if you have started using them.</li>
<li>If users are able to enter via mobile phone or tablet, we need screens for that.</li>
<li>UI</li>
</uL>

Thanks, Simon.



{% endblock %}
