{% extends "common/root.html" %}
{% load staticfiles %}{% load humanize %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin/property.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/admin/log.css" %}" />
<link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Tax" "/admin/tax/tax/"  %}
	{% breadcrumb "Verify target"  "/admin/tax/tax/verify_target/" %}
	{% breadcrumb "Business" %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript"  src="/static/js/admin/property1.js"></script>
{% endblock %}

{% block mainbody %}

<h3>{{ business.name }}</h3>

<div style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-top:20px; border: 1px solid #cccccc; ">
	<div class="menu_panel">
		<div class="menu_panel_item">TIN/RRA:<b>{{ business.tin }}</b></div>
		<div class="menu_panel_item">Date Started: <b>{{business.date_started|date:'d/m/Y'}}</b> </div>
		<div class="menu_panel_item">Phone: {{business.phone1}}</div>
		<div class="menu_panel_item">Email: {{ business.email }}</div>
		<div class="menu_panel_item">VAT Registered: {% if business.vat_register %} Yes {% else %} No {% endif %}</div>
		<div class="menu_panel_item">Credit: {{business.credit|intcomma}} Rwf </div>

	</div>

	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'business_update' business.pk %}">Edit</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'business_update_region' business.pk %}">Region</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="/admin/tax/tax/business/{{business.id}}/owners/">Owners</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'business_fees' business.id %}">Fees</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'business_payments' business.pk %}">Payments</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="/admin/tax/tax/business/{{business.id}}/media/">Media</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'business_log' business.pk %}">Logs</a></div>

	<table width="100%" height="100%" cellpadding="0" cellspacing="0"  style="padding-bottom:5px;">
		<tr>
			<td valign="top" style="padding-top:20px; padding-bottom:20px; background:white; padding-left:30px;">
				{% block rightpanel %}
				{% endblock %}
			</td>
		</tr>
	</table>
</div>
<div style="display:none" id="points">
	{{points}}
</div>
{% endblock %}
