<!DOCTYPE html>
<html lang="en" >
	<head>
		<title>{% block title %}Council Tax Evalution System{% endblock %}</title>
		<!-- static urls -->
		{% load staticfiles %}
		{% load settings_value %}
		{% load breadcrumb %}
		<script type="text/javascript">
			site_url= "{% settings_value 'SITE_URL' %}"
			map_url= "{% settings_value 'MAP_URL' %}"
			color_provice = "{% settings_value 'COLOR_PROVINCE' %}"
			color_council = "{% settings_value 'COLOR_COUNCIL' %}"
			color_district = "{% settings_value 'COLOR_DISTRICT' %}"
			color_sector = "{% settings_value 'COLOR_SECTOR' %}"
			color_house = "{% settings_value 'COLOR_HOUSE' %}"
			color_declaredvalue = "{% settings_value 'COLOR_DECLAREDVALUE' %}"
			color_tax = "{% settings_value 'COLOR_TAX' %}"
		</script>
		<link rel="stylesheet" type="text/css" href="{% static "css/common/base.css" %}" />
		<link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
		<script type="text/javascript"  src="{% static "js/jquery-1.7.2.min.js" %}"></script>
		<script type="text/javascript"  src="{% static "js/jquery-ui.min.js" %}"></script>
		<script type="text/javascript"  src="{% static "js/common.js" %}"></script>
		<script src="http://openlayers.org/api/OpenLayers.js"></script>
		<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
		<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
		<script type="text/javascript"  src="{% static "js/loadmap.js" %}"></script>		
		{% block css %}
		{% endblock %}
		{% block javascript %}
		{% endblock %}
	</head>
	
	
	<body onload="init();">
		<div style="width:100%; height:100px; overflow: hidden;">
		{% block header %}
			<div class='header'>
				<div style="height:2px; line-height:2px;">&nbsp;</div>
				<div style="height:96px; display:block; color:1px solid red">
					<div style="display:inline; float:left;">
						<div style="margin-left:10px;">
							<a href="/admin/"><span class="title">KCC Tax Systems</span></a>	
						</div>
						{% block breadcrumbs %}
						<div style="margin-left:10px; font-weight:bold; color:white; font-size:14px; text-decoration: none; height: 20px; line-height:20px; text-align:left;">
							{% block crumbbody %}
							{% endblock %}
						</div>
						{% endblock %}
					</div>
					<div style="display:inline; float:right; margin-right:60px;">
						<a href="/admin/"><img align="aabsmiddle" width='96' border="0" height='96'  src='{% static "images/icons/home.png" %}' /></a>
						<a href="/admin/edit_profile/"><img width='96' align="aabsmiddle" border="0" height='96'  src='{% static "images/icons/user_profile.png" %}' /></a>
						<a href="/admin/logout/"><img width='96' align="aabsmiddle" border="0" height='96'  src='{% static "images/icons/user_logout.png" %}' /></a>
					</div>
					<div style="clear:both"></div>	
				</div>
				<div style="height:2px; line-height:2px;">&nbsp;</div>
			</div>
		{% endblock %}
		</div>	
	
	
	{% block mainbody %}
	{% endblock %}
	
	
	
	</body>
</html>
