{% extends "common/root.html" %}
{% load staticfiles %}{% load humanize %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin/log.css" %}" />
<link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Citizen" "/admin/citizen/citizen/"  %}
	{% breadcrumb "View citizen" %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript"  src="/static/js/admin/citizen_display.js"></script>
{% endblock %}

{% block mainbody %}
<style type="text/css">
	.custom_title{font-size:16px; line-height:25px; text-align:left;border-bottom:1px solid #cccccc; margin-top:20px; margin-bottom:20px;}
	.edit{color:#0060AC; font-size:14px;}
	.info{line-height:20px; font-size:13px; color:#5a5a5a;}
	.info table{text-align:left; margin-top:10px;}
	.edit a:link,  .edit a:active, .edit a:visited{text-decoration:none; color:#0060AC;}
	th{vertical-align:top;}
	table#change_citizen_table tbody tr td { height:45px;}
</style>


<div style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-top:20px; border: 1px solid #cccccc; ">
	<div class="menu_panel">
		<div class="menu_panel_item">Citizen ID:<b>{{ citizen.citizen_id }}</b></div>
		<div class="menu_panel_item">Name: <b>{{ citizen.name }}</b> </div>
		<div class="menu_panel_item">DOB: {{ citizen.date_of_birth|default:citizen.year_of_birth|default:'' }}</div>
	</div>

	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'citizen_update' citizen.pk %}">Details</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'citizen_contact' citizen.pk %}">Contact</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'citizen_assets' citizen.pk %}">Assets</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="">Fees</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="">Payments</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="">Media</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="">Log</a></div>

	<table width="100%" height="100%" cellpadding="0" cellspacing="0"  style="padding-bottom:5px;">
		<tr>
			<td valign="top" style="padding-top:20px; padding-bottom:20px; background:white; padding-left:30px;">
				{% block rightpanel %}
				{% endblock %}
			</td>
		</tr>
	</table>
</div>

{% endblock %}
