{% extends "common/root.html" %}
{% load staticfiles %}
{% load humanize %}{% load simple_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin/log.css" %}" />
{% endblock %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Tax" "/admin/tax/tax/"  %}
	{% breadcrumb "Verify target"  "/admin/tax/tax/verify_target/" %}
	{% breadcrumb "Citizen" %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript"  src="/static/js/admin/citizen_display.js"></script>
{% endblock %}

{% block mainbody %}
<style type="text/css">
	.custom_title{font-size:16px; line-height:25px; text-align:left;border-bottom:1px solid #cccccc; margin-top:20px; margin-bottom:20px;}
	.edit{color:#0060AC; font-size:14px;}
	.info{line-height:20px; font-size:13px; color:#5a5a5a;}
	.info table{text-align:left; margin-top:10px;}
	.edit a:link,  .edit a:active, .edit a:visited{text-decoration:none; color:#0060AC;}
	th{vertical-align:top;}
	table#change_citizen_table tbody tr td { height:45px;}
	#taxes
	{
		font-family:Arial;
		text-align:left;
		padding: 2px;
	}
	#taxes th
	{
		border-bottom: 1px solid #c4c4c4;
		font-size: 12px;
	}
	#taxes th,#taxes th
	{
		padding: 5px;
	}
    #taxes td.first_col
    {
        line-height: 16px;
        padding-right: 15px;
        width: 350px;
    }
	/*a:link, a:hover, a:visited{color:blue;}*/
	#taxes .pending
	{
		color: red;
	}
	#taxes .paid
	{
		color: #00B5D0;
        font-weight: bold;
    }
</style>


<div style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-top:20px; border: 1px solid #cccccc; ">
	<div class="menu_panel">
		<div class="menu_panel_item">UPI:<b>{{ property.upi }}</b></div>
		<div class="menu_panel_item">Usage: <b>{{property.land_zone}}</b> </div>
		<div class="menu_panel_item">Size: {{property.area}} sqm </div>
		<div class="menu_panel_item">{{ property.village.cell.sector.district }} district -> {{ property.village.cell.sector }} sector -> {{ property.village.cell }} cell -> {{ property.village }} village</div>
		<div class="menu_panel_item">Credit: {{property.credit|intcomma}} Rwf </div>

	</div>

	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'property_leases' property.pk %}">Leases</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'new_lease' property.pk %}">New Lease</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'property_fees' property.pk %}">Fees</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'property_payments' property.pk %}">Payments</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'property_media' property.pk %}">Media</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'property_map' property.pk %}">Map</a></div>
	<div class="menu_panel menu_panel_item" style="width:100px;"><a href="{% url 'property_log' property.pk %}">Log</a></div>

	<table width="100%" height="100%" cellpadding="0" cellspacing="0"  style="padding-bottom:5px;">
		<tr>
			<td valign="top" style="padding-top:20px; padding-bottom:20px; background:white; padding-left:30px;">
				{% block rightpanel %}
				{% endblock %}
			</td>
		</tr>
	</table>
</div>


<div style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-top:20px; border: 1px solid #cccccc; margin:20px 10px 10px 10px; box-shadow: 1px 2px 3px rgba(0,0,0, 0.1);-webkit-box-shadow: 1px 2px 3px rgba(0,0,0, 0.1);-moz-box-shadow: 1px 2px 3px rgba(0,0,0, 0.1); ">
	<table width="100%" height="100%" cellpadding="0" cellspacing="0"  style="padding-bottom:5px;">
		<tr>
			<td width="360" valign="top" style="min-width:360px;border-right:1px solid #cccccc; padding:10px 10px;" class="menu_panel">
				<div style="height:100%;" >
					<div class="custom_title">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left">Citizen Info</td>
								<td align="right"><span class="edit"><a href="/admin/tax/tax/citizen/{{citizen.id}}/edit_citizen/">Edit</a></span></td>
							</tr>
						</table>
					</div>
					<div class="info">
						<table cellpadding="2" cellspacing="0" >
							<tr>
								<td width="100"><strong>Citizen ID:</strong></td>
								<td>{{citizen.citizen_id}}</td>
							</tr>
							<tr>
								<td><strong>First name:</strong></td>
								<td>{{citizen.first_name}}</td>
							</tr>
							<tr>
								<td><strong>Middle name:</strong></td>
								<td>{{citizen.middle_name}}</td>
							</tr>
							<tr>
								<td><strong>Last name:</strong></td>
								<td>{{citizen.last_name}}</td>
							</tr>
							<tr>
								<td><strong>Primary Phone:</strong></td>
								<td>{{citizen.phone_1}}</td>
							</tr>
							<tr>
								<td><strong>E-mail:</strong></td>
								<td>{{citizen.email}}</td>
							</tr>
						</table>
					</div>

					<div class="custom_title">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left">Taxes</td>
								<td align="right"><span class="edit"><a href="/admin/tax/tax/citizen/{{citizen.id}}/taxes/">View</a></span></td>
							</tr>
						</table>
					</div>

					<div class="custom_title">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left">Fees</td>
								<td align="right"><span class="edit"><a href="{% url 'misc_fee_citizen' citizen.id %}">Add</a></span> | <span class="edit"><a href="/admin/tax/tax/citizen/{{citizen.id}}/fees/">View</a></span></td>
							</tr>
						</table>
					</div>
					<!--
					<div class="custom_title">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left">Miscellaneous Fees</td>
								<td align="right"><span class="edit"><a href="/admin/tax/tax/citizen/{{citizen.id}}/miscellaneous_fees/">View</a></span></td>
							</tr>
						</table>
					</div>
					-->
					<div class="custom_title">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left">History</td>
								<td align="right"><span class="edit"><a href="/admin/tax/tax/citizen/{{citizen.id}}/history/">View</a></span></td>
							</tr>
						</table>
					</div>
					<div class="custom_title">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left">Attached Media</td>
								<td align="right"><span class="edit"><a href="/admin/tax/tax/citizen/{{citizen.id}}/media/">View</a></span></td>
							</tr>
						</table>
					</div>
					<div class="custom_title">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="left">Logs</td>
								<td align="right"><span class="edit"><a href="/admin/tax/tax/citizen/{{citizen.id}}/logs/">View</a></span></td>
							</tr>
						</table>
					</div>
				</div>
			</td>
			<td valign="top" style="padding-top:20px; padding-bottom:20px;background:white; padding-left:25px;">
			</td>
		</tr>
	</table>
</div>

{% endblock %}
