{% extends "common/base.html" %}
{% load staticfiles %}
{% block css  %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/log.css" %}" />
{% endblock %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
	{% breadcrumb "Citizen"  %} 
{% endblock %}


{% block mainbody %}
	<!--
{% if not citizens|length %}
	No citizens found.	
{% else %}
	<div class="log_table">
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td class="firstrowfirstcolumn"  width="160">Citizen ID</td>
				<td class="firstrow" width="110">Firstname</td>
				<td class="firstrow" width="60">Lastname</td>
			</tr>
			{% for citizen in citizens %}
			<tr>
				<td class="firstcolumn">{{citizen.citizenid}}</td>
				<td>{{citizen.firstname}}</td>
				<td>{{citizen.lastname}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endif %}
</div>
-->



<div class="section_container">
	<div class="content_type_container">
		{% for per in permissions %}
			<div class="content_type">
				<div class="img">
					<a href="{{per.access_link}}">
							<image width='128' border="0" height='128' src="{% static "images/icons/" %}{{per.display_name}}.png"></image>
					</a>
				</div>
				<div class="desc"><a href="{{per.access_link}}">{{per.display_name}}</a></div>
			</div>
		{% endfor %}
	</div>	
</div>		


<div class="separator">&nbsp;</div>	
<div class="workflow_container">
	<div class="content_type_action">
		{% for per in permissions %}
			<a href="{{per.access_link}}">{{per.display_name}}</a>
		{% endfor %}
	</div>
</div>	



{% endblock %}
