{% extends "common/base_design.html" %}
{% load staticfiles %}


{% block css  %}
	<link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static "js/plugins/forms/uniform/uniform.default.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap-responsive.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/supr-theme/jquery.ui.supr.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "js/plugins/misc/qtip/jquery.qtip.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
{% endblock %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
	{% if not action %}
		{% breadcrumb "Citizen" "" %}
	{% else %}
		{% breadcrumb "Citizen" "/admin/citizen/citizen/" %}
		{% ifequal action "add" %}	
			{% breadcrumb "Add citizen" "" %}
		{% endifequal %}
		{% ifequal action "edit" %}
			{% breadcrumb "Edit citizen" "" %}
		{% endifequal %}
	{% endif %}
{% endblock %}

{% block mainbody %}



    <script type="text/javascript" src="{% static "js/plugins/forms/uniform/jquery.uniform.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/plugins/forms/watermark/jquery.watermark.min.js" %}"></script>  
	<script type="text/javascript" src="{% static "js/plugins/misc/search/tipuesearch.js" %}"></script>
	<script type="text/javascript" src="{% static "js/plugins/misc/totop/jquery.ui.totop.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/plugins/misc/qtip/jquery.qtip.min.js" %}"></script>

    <!-- Init plugins -->
    <script type="text/javascript" src="{% static "js/main.js" %}"></script><!-- Core js functions -->
	<script type="text/javascript"  src="/static/js/admin/citizen.js"></script>

<style type="text/css">
	#uniform-id_month_of_birth, #uniform-id_year_of_birth, #uniform-id_day_of_birth
	{
		display:inline-block; width:120px;
	}

	#gender_cell label
	{
		display:inline-block;
		font-weight:normal;
		font-size:12px;
	}
	#gender_cell label div.radio:first-child
	{
		padding-left:0px;
	}
	.error_message
	{
		color:red;
		font-style:italic;
	}
	

</style>	

<div style="text-align:center;">
	<div style="width:98%; margin:0 auto; text-align:left;">
		<div class="box" style="border-bottom:1px solid #ccc;">
			<div class="box_title" >
				<table style="width:100%" cellpadding="0" cellspacing="0">
					<tr>
						<td style="vertical-align:middle;">Search citizen</td>
						<td  style="padding-right:20px; text-align:right; line-height:36px;">
							<a id="add_citizen_link" style="display:none;" href="/admin/citizen/citizen/add_citizen/">Add citizen</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="content" style="border-bottom:0px; padding-left:0px; ">
				<form  style="margin-left:0px;"  onsubmit="return check_citizen_select_or_not(this);" id="citizen_form" action="/admin/citizen/citizen/view_citizen/" method="post" >
					<div style="text-align:left; margin-left: 20px; margin-top:10px;">
						{% csrf_token %}
			
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td width="360">
									<div class="user_dropdown">
										<div class="keyword_div">
											Name: &nbsp;&nbsp;<input autocomplete="off" type="text" style="height:30px; width:300px;" name ="keyword" id="id_keyword"/>
										</div>
										<div id="matched_citizens_list" class="matched_users_div">
										</div>
									</div>
								</td>
								<td>
									<button style="margin-left:20px;" type="submit" class="my_button">View citizen</button>	
									<div style="display:inline-block; margin-left:40px;">
										<span style="color:red; font-weight:bold;" id="name_error">&nbsp;</span>
										<span style ="display:none" id="fullname"></span>
									</div>	
								</td>
							</tr>
						</table>
					</div>
					<div style="display:none;">
						<input type="text" value="" id="id_citizen_id" name="citizen_id" />
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}
