{% extends "common/base_design.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/user.css" %}" />
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
	{% breadcrumb "Citizen" "/admin/citizen/citizen/"  %}
	{% breadcrumb "Select citizen" %}
{% endblock %}



{% block javascript %}
	<script type="text/javascript"  src="/static/js/admin/citizen.js"></script>
{% endblock %}

{% block mainbody %}
<div class="user_action_title">
	Enter citizen's name or ID to search:
</div>


<div class="user_registration_form" style="margin-left:20px;">
	<form onsubmit="return check_citizen_select_or_not();" id="citizen_form" method="get" >
		<div style="text-align:left;">			
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td width="200">
						<div class="user_dropdown">
							<div class="keyword_div">
								<input autocomplete="off" type="text" class="keyword"  name ="keyword" id="id_keyword" size="240" />
							</div>
						</div>
					</td>
					<td>
						<input type="submit" value="change citizen"/>	
					</td>
				</tr>
			</table>
			<div>
				<br>
				<span style="color:red; font-weight:bold;" id="name_error">&nbsp;</span>
				<span style ="display:none" id="fullname"></span>
			</div>
			<br>
			<div>
					
			</div>	
		</div>
		<br><br><br>
		{{form.citizen_id}}
	</form>
</div>
{% endblock %}
