{% extends "common/base.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/user.css" %}" />
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
	{% breadcrumb "Citizen" "/admin/citizen/citizen/"  %}
	{% breadcrumb "Select citizen"  "/admin/citizen/citizen/view_citizen/" %}
	{% breadcrumb "View citizen" %}
{% endblock %}



{% block javascript %}
	<script type="text/javascript"  src="/static/js/admin/citizen.js"></script>
{% endblock %}

{% block mainbody %}
<div class="user_action_title">
	Citizen Info:
</div>
<div class="user_registration_form">
<strong>First name:</strong> {{citizen.firstname}}<br>
<strong>Last name:</strong> {{citizen.lastname}}<br>
<strong>Citizen ID:</strong> {{citizen.citizenid}}<br>
</div>
{% endblock %}
