{% extends "common/base.html" %}
{% load staticfiles %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
	{% breadcrumb "Citizen" "/admin/citizen/citizen/"  %}
	{% breadcrumb "Add citizen" %}
{% endblock %}


{% block javascript %}
	<script type="text/javascript"  src="/static/js/admin/citizen.js"></script>
{% endblock %}
{% block mainbody %}

<div style="text-align:left; margin-left:20px; font-weight:bold; font-size:16px; margin-top:20px;">
	Add citizen
</div>


<div style="text-align:left; margin-left:20px;margin-top:20px;">

<form onsubmit="return check_citizen_registration_form();" action="/admin/citizen/citizen/add_citizen/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<table>
		<tr>
			<td width="150"> Firstname:</td>
			<td> {{form.firstname}} *&nbsp;</td>
			<td id="firstname_error">
				{% if form.firstname.errors %}
					{{form.firstname.errors|striptags }}
				{% endif %}
			</td>
		</tr>
		<tr>
			<td> Lastname:</td>
			<td> {{form.lastname}} *&nbsp;</td>
			<td id="lastname_error">
				{% if form.lastname.errors %}
					{{form.lastname.errors|striptags }}
				{% endif %}
			</td>
		</tr>
		<tr>
			<td> Citizen ID:</td>
			<td> {{form.citizenid}} *&nbsp;</td>
			<td id="email_error">
				{% if form.citizenid.errors %}
					{{form.citizenid.errors|striptags }}
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>Citizen Photo</td>
			<td>{{form.citizenPhoto}}</td>
			<td id="photo_error">{% if form.citizenPhoto.errors %}{{form.citizenPhoto.errors|striptags}}{% endif %}</td>
		</tr>
		
		
		
		<tr>
			<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
		</tr>
		<tr>	
			<td> <input type="submit" onclick="return check_citizen_registration_form();" value="submit" name="submit"/></td>
			<td> &nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
		
</form>
</div>	
{% if form.errors %}
	{{form.errors|striptags }}
{% endif %}
{% endblock %}
