{% extends "common/base_design.html" %}
{% load staticfiles %}
{% load simple_tags %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Tax" "/admin/tax/tax/" %}
	{% breadcrumb "Cleaning Fee Debtors" %}	
{% endblock %}


{% block mainbody %}
	<script type="text/javascript"  src="{% static "js/admin/populate_geo.js" %}"></script>
	
	<style>
		#search_table{
			overflow:hidden;
			border:1pt #cccccc solid;
			float:left;
			padding:10px;
		}
	
		.include_fields{
			margin-top:20px;
			height:100px;
			width:100%;
			overflow:hidden;
		}
		
		.include_fields li{
			float:left;
			margin-right:20px;
		}

		input[type="submit"]{
			float:right;
			margin-left:5px;
		}

		TABLE TH{
			background-color:#C8D6C3;
			text-align:center;
			padding-left:5px;
			padding-right:5px;
		}

		.include_fields UL LI:nth-child(6){
			clear:left;
		}

		.section_container{
			padding-bottom: 20px;
			overflow:hidden;
		}
	</style>

	<div class="section_container">
		<div class="content_type_container">
				<h2>Cleaning Fee Debtors</h2>
				<div id="search_table">
					<form action="{% url 'cleaning_debtors' %}" method="post">
					{% csrf_token %}
					<div>
						District*: {{ form.district }}{{ form.district.errors }} Sector*: {{ form.sector }}{{ form.sector.errors }} Cell: {{ form.cell }}{{ form.cell.errors }} 
						Village: {{ form.village }}{{ form.village.errors }}
					</div>
					<div>
						As at*: {{ form.as_at }}{{ form.as_at.errors }}
					</div>
					<div>
						<input type="submit" name="web_button" value="Generate Web Report"><input type="submit" name="csv_button" value="Download CSV Report">
					</div>
					</form>
				</div>

				<div class="separator">&nbsp;</div>
				<div class="workflow_container"></div>

				{% if request.method == 'POST' and not businesses %}
					<div>No entries found</div>
				{% endif %}

				{% if businesses %}

					<table border="1">
					<tr>
						<th>Business</th>
						<th>Phone</th>
						<th>Address</th>
						
						<th>&lt; 1 month<br/>{{ totals.late|currency }} Rwf</th>
						
						<th>&gt; 1 month<br/>{{ totals.late_month|currency }} Rwf</th>
						
						<th>&gt; 3 months<br/>{{ totals.late_quarter_year|currency }} Rwf</th>
						
						<th>&gt; 6 months<br/>{{ totals.late_half_year|currency }} Rwf</th>
						
						<th>&gt; 1 year<br/>{{ totals.late_year|currency }} Rwf</th>
					</tr>

					{% for b in businesses %}
						<tr>
							<td>{{ b.name }}</td>

							<td>{{ b.phone1|default:b.phone2|default:'' }}</td>
						
							<td>{{ b.address|default:'' }}</td>
					
							<td>{{ b.lates.late|currency }}</td>

							<td>{{ b.lates.late_month|currency }}</td>
						
							<td>{{ b.lates.late_quarter_year|currency }}</td>

							<td>{{ b.lates.late_half_year|currency }}</td>

							<td>{{ b.lates.late_year|currency }}</td>

						</tr>
					{% endfor %}
					</table>
				{% endif %}
		</div>


	</div>

{% endblock %}
