{% extends "common/base_design.html" %}
{% load staticfiles %}
{% load simple_tags %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Tax" "/admin/tax/tax/" %}
	{% breadcrumb "Fee Audit" %}
{% endblock %}


{% block mainbody %}
	<script type="text/javascript"  src="{% static "js/populate_geo_new.js" %}"></script>
	<script>
	$(function(){

	});
	</script>

	<style>

		#search_table{
			overflow:hidden;
			border:1pt #cccccc solid;
			float:left;
			padding:10px;
		}



		.include_fields{
			margin-top:20px;
			height:100px;
			width:100%;
			overflow:hidden;
		}


		.include_fields li{
			float:left;
			margin-right:20px;
		}

		input[type="submit"]{
			float:right;
			margin-left:5px;
		}

		TABLE TH{
			background-color:#C8D6C3;
			text-align:center;
			padding-left:5px;
			padding-right:5px;
		}

		.include_fields UL LI:nth-child(6){
			clear:left;
		}

		table.tablesorter tbody td.currency{
			text-align: right;
		}

		.tablesorter TH{
			border-right:1pt grey solid;
			border-left:1pt white solid;
		}
	</style>

	<div class="section_container">
		<div class="content_type_container">
				<h2>Fee Audit</h2>
				<div id="search_table">
					<form action="{% url 'cleaning_audit' %}" method="post">
					{% csrf_token %}
					<div>
						District*: {{ form.district }}{{ form.district.errors }} Sector*: {{ form.sector }}{{ form.sector.errors }} Cell: {{ form.cell }}{{ form.cell.errors }}
						Village: {{ form.village }}{{ form.village.errors }}
					</div>
					<div>
					Fee/Tax type*: {{ form.fee_type }}{{ form.fee_type.errors }}
					</div>
					<div>
						Date from*: {{ form.date_from }}{{ form.date_from.errors }} Date to*: {{ form.date_to }}{{ form.date_to.errors }}
					</div>
					<div>
						<input type="submit" name="web_button" value="Generate Web Report" class="btn green"><input type="submit" name="csv_button" value="Download CSV Report"  class="btn green">
					</div>
					</form>
				</div>

				<div class="separator">&nbsp;</div>
				<div class="workflow_container"></div>


				{% if request.method == 'POST' and not payments %}
				<div>No entries found</div>
				{% endif %}

				{% if payments %}

				<table class="tablesorter">
				<tr>
					<th>Total Payment Amount (inc. fines)<br/>{{ totals.payment|currency }}</th>

					<th>Fines<br/>{{ totals.fines|currency }}</th>

					<th>Fee Amount (no fines)<br>{{ totals.fee|currency }}</th>

					<th>Remaining Fee Amount (no fines)<br>{{ totals.remaining|currency }}</th>

					<th>Fee</th>

					{% if request.POST.fee_type == 'cleaning' %}
						<th>Business</th>
					{% else %}
						<th>Plot ID</th>
					{% endif %}

					<th>Cell</th>

					<th>Village</th>

					<th>Sector Receipt</th>

					<th>Bank</th>

					<th>Bank Receipt</th>

					<th>Paid Date</th>

					<th>Processed</th>

				</tr>


				{% for p in payments %}

				<tr>
					<td class="currency">{{ p.amount|currency }}<!-- payment.pk={{ p.pk }} --><!-- fee.pk={{ p.fee.pk }} --></td>

					<td class="currency">{% if p.fine_amount %}{{ p.fine_amount|currency }} {{ p.fine_description }} {% endif %}</td>

					<td class="currency">{{ p.fee.amount|currency }}</td>

					<td class="currency">{{ p.fee.remaining_amount|currency }}</td>

					{% if request.POST.fee_type == 'cleaning' %}
						<td>Cleaning {{ p.fee.date_from|date:"b Y"|upper }}</td>

					{% endif %}

					{% if request.POST.fee_type == 'land_lease' %}
						<td>LL {{ p.fee.date_from|date:"Y" }}</td>
					{% endif %}

					<td>{% if request.POST.fee_type == 'cleaning' %}{{ p.fee.business.name }}{% else %}{{ p.fee.prop.parcel_id }}{% endif %}</td>

					<td>{% if request.POST.fee_type == 'cleaning' %}
							{% if p.fee.business.village %}
								{{ p.fee.business.village.cell }}
							{% else %}
								{{ p.fee.business.cell }}
							{% endif %}
						{% else %}
							{{ p.fee.prop.village.cell.name }}
						{% endif %}
					</td>

					<td>{% if request.POST.fee_type == 'cleaning' %}{{ p.fee.business.village.name }}{% else %}{{ p.fee.prop.village.name }}{% endif %}</td>


					<td>{{ p.manual_receipt }}</td>

					<td>{{ p.bank }}</td>

					<td>{{ p.receipt_no }}</td>

					<td style="white-space:nowrap;">{{ p.receipt.paid_date|date:'d/m/Y' }}</td>

					<td>{{ p.staff.username }} {{ p.date_time|date:'d/m/Y' }}</td>

				</tr>

				{% endfor %}
				</table>
				{% endif %}
		</div>


	</div>

{% endblock %}
