{% extends "common/base_design.html" %}
{% load staticfiles %}
{% load simple_tags %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Tax" "/admin/tax/tax/" %}
	{% breadcrumb "Cleaning Fee Debtors" %}	
{% endblock %}


{% block mainbody %}
	<script type="text/javascript"  src="{% static "js/admin/populate_geo.js" %}"></script>
	
	<style>
		#search_table{
			overflow:hidden;
			border:1pt #cccccc solid;
			float:left;
			padding:10px;
		}
	
		.include_fields{
			margin-top:20px;
			height:100px;
			width:100%;
			overflow:hidden;
		}
		
		.include_fields li{
			float:left;
			margin-right:20px;
		}

		input[type="submit"]{
			float:right;
			margin-left:5px;
		}

		TABLE TH{
			background-color:#C8D6C3;
			text-align:center;
			padding-left:5px;
			padding-right:5px;
		}

		.include_fields UL LI:nth-child(6){
			clear:left;
		}

		.section_container{
			padding-bottom: 20px;
			overflow:hidden;
		}

		.fee_link{
			text-decoration:none;
			font-weight:bold;
		}


		.note{
			clear:both;
		}

		table.tablesorter tbody td.currency{
			text-align: right;
		}

		.tablesorter TH{
			border-right:1pt grey solid;
			border-left:1pt white solid;
		}
	</style>

	<div class="section_container">
		<div class="content_type_container">
				<h2>Cleaning Fee Debtors</h2>

				<div id="search_table">
					<form action="{% url 'cleaning_debtors' %}" method="post">
					{% csrf_token %}
					<div>
						District*: {{ form.district }}{{ form.district.errors }} Sector*: {{ form.sector }}{{ form.sector.errors }} Cell: {{ form.cell }}{{ form.cell.errors }} 
						Village: {{ form.village }}{{ form.village.errors }}
					</div>
					<div>
						<input type="submit" name="web_button" value="Generate Web Report"><input type="submit" name="csv_button" value="Download CSV Report">
					</div>
					</form>
				</div>

				<div class="separator">&nbsp;</div>
				<div class="workflow_container"></div>

				{% if request.method == 'POST' and not line_items %}
					<div>No entries found</div>
				{% endif %}

				{% if line_items %}
					<div class="note">As at {{ report.as_at }}. Note: Amounts shown include late fees</div>
					<table class="tablesorter">
					<tr>
						<th>Business</th>
						<th>Phone</th>
						<th>Address</th>
						<th>Fee Amount</th>
						
						<th>Due {{ th.0 }}<br/>{{ totals.month|currency }} Rwf</th>
						
						<th>Due {{ th.1 }}<br/>{{ totals.month_1|currency }} Rwf</th>
						
						<th>Due {{ th.3 }}<br/>{{ totals.month_3|currency }} Rwf</th>
						
						<th>Due {{ th.6 }}<br/>{{ totals.month_6|currency }} Rwf</th>
						
						<th>Due {{ th.12 }}<br/>{{ totals.month_12|currency }} Rwf</th>

						<th>Total<br/>{{ totals.total|currency }} Rwf </th>
					</tr>

					{% for l in line_items %}
						<tr>
							<td><a href="{% url 'business_fees' l.business.pk %}" class="fee_link" target="NEW">{{ l.business.name }}</a></td>

							<td>{{ l.business.phone1|default:l.business.phone2|default:'' }}</td>
						
							<td>{{ l.business.address|default:'' }}</td>

							<td class="currency">{{ l.rate|currency }}</td>		
					
							<td class="currency">{{ l.month|currency }}</td>

							<td class="currency">{{ l.month_1|currency }}</td>
						
							<td class="currency">{{ l.month_3|currency }}</td>

							<td class="currency">{{ l.month_6|currency }}</td>

							<td class="currency">{{ l.month_12|currency }}</td>

							<td class="currency">{{ l.total|currency }}</td>

						</tr>
					{% endfor %}
					</table>
				{% endif %}
		</div>


	</div>

{% endblock %}
