{% extends "common/base_paytax_property.html" %}
{% load staticfiles %}
{% load humanize %}{% load simple_tags %}

{% block rightpanel %}

<div style="text-align:left; margin-left:30px; margin-top:15px;">
<style>

#fee_table TH, #fee_table TD{
	border-right:1pt #e4e4e4 solid;
}

#fee_table TD, #fee_table TH{
	text-align: left;
	padding-left:5px;
}

#fee_table{
	margin:0 auto;
	width:95%;
	border:1pt #e4e4e4 solid;
}

#fee_table TR{
	border-bottom:1pt #cccccc solid;
}

#payment_table TR{
	padding-top:7px;
	background-color:default;
	padding-left:35px;
	padding-right:0;
	padding-bottom:7px;

}

#payment_table{
	font-style: italic;
}

#payment_table TH{
	font-weight:normal;
	width:100px;
}

#payment_table{
	width:70%;
	border-top:0pt #cccccc solid;

	margin:2px
}

#pay_fees_form{
	border:1pt grey solid;
	background-color:#e4e4e4;
	margin-top:20px;
	float:right;
	margin-right:25px;
}

#pay_fees_form TH{
	text-align:left;
	font-weight: normal;
	vertical-align: top;
	padding:8px;
	min-width:100px;
}

#pay_fees_form TD{
	text-align:left;
	padding:8px;
}


</style>



	<div style="margin-left:20px;margin-right:20px;text-align:center;">
		<form action="{{ request.build_absolute_uri }}" method="post">
		<table  cellpadding="0" cellspacing="0" id="fee_table">
			<thead>
			<tr>
				<th>Leasers</th>
				<th>EPAY</th>
				<th>Date From</th>
				<th>Date to</th>

			</tr>
			</thead>
			<tbody>
			{% for title in titles %}
				<tr>
					<td>{% for owner in title.owners %}<a href="{% url owner.link owner.pk %}">{{ owner }}</a><br/>{% endfor %}<!-- {{ fee.pk }} --></td>
					<td>{{title.epay}}</td>
					<td>{{ title.date_from }}</td>
					<td>{{title.date_to|default:'active'}}</td>
					<td><a href="{% url 'edit_lease' title.pk %}" class="my_button">Update</a></td>
				</tr>
				{{ form.id }}

			{% endfor %}
			</tbody>
		</table>


</div>
{% endblock %}