{% extends "common/base_paytax_business.html" %}
{% load staticfiles %}
{% load humanize %}{% load simple_tags %}

{% block ccss %}
	.submit_link{
		text-decoration:underline;
		font-weight:bold;
	}
{% endblock %}

{% block rightpanel %}


<div style="text-align:left; margin-left:20px; margin-right:20px;">
	<div class="box">
		<div class="box_title">Taxes</div>
		<div class="content" style="padding-left:0px;">
			{% if taxes %}
				<div style="margin-left:20px;margin-right:20px;text-align:center;">
				<table style="margin:0 auto;" class="tablesorter" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
							<th>Tax Name</th>
							<th width="120">Amount</th>
							<th width="120">Submitted on</th>
							<th width="100">Due On</th>
							<th width="150">Media</th>
							<!--th></th>
							<th></th-->
							<th width="210">Action</th>
					</tr>	
				</thead>
				</tbody>							
						{% for i in taxes %}
							<tr>
								<td>
								<a href="{% url 'submit_trading_license' i.id %}" class="submit_link">{{i.name}}</a>
								<br/>{{i.target}}</td>
								<td>							
						            {% if i.is_paid != 1 %}
							            {% if i.amount %}
								            <div>{{i.amount|currency}} {{i.currency|title}}</div>
							            {% else %}
								            <div>Not specified</div>
							            {% endif %}
						            {% else %}
						            <div class="paid">{{i.amount|currency}} {{i.currency|title}}<br/><b>PAID</b></div>
									{% endif %}
                                    {% if i.past_payments_link %}
                                    <a href="{{ i.past_payments_link }}" class="fancy_box" >show past payments</a>
                                    {% endif %}
								</td>

								<td>
								{{ i.submit_date|date:"d/m/Y"}}
								</td>

								<td>
									{% if i.due_date %}
										{{ i.due_date|date:"d/m/Y"}}
									{% else %}
										N/A
									{% endif %}
								</td>

								<td>
									{% if i.medias %}
										{% for media in i.medias %}
										<a href="/admin/media/media/preview/{{ media.id }}/" class="fancy_box"><img class="media_link" src="{% static "images/file_thumb.jpg" %}" title="{{ media.title }} <{{media.description}}> - Uploaded on {{ media.date_created|date:'d/m/Y'}}"/></a>
										{% endfor %}
									{% else %}
										N/A
									{% endif %}
								</td>
								<!--td><button class="button_styled" >more info</button></td>
								<td><button class="button_styled" >past payment</button></td-->
								<td>
                                    {% if i.has_pending_payment %}
                                        <i>Pending Payment waiting for approval.</i>
                                    {% else %}
                                        {# if i.prerequisite_link #}
                                            <!--<a href="{{ i.prerequisite_link }}"><button  class="my_button" >{{i.prerequisite_label}}</button></a>-->                       
					                    {% if not i.is_paid  %}   
                                            {% if i.submit_date %}
										        <a href="{{ i.epay_invoice_link }}"><button  class="my_button" >view ePay Invoice</button></a>
												<a href="{{ i.link }}"><button  class="my_button" >pay</button></a>
											{% else %}
												<a href="{% url 'submit_trading_license' i.id %}"><button  class="my_button" >submit</button></a>
                                            {% endif %}	        
                                        {% else %}
                                            {% if i.receipt_links %}
                                                {% for link in i.receipt_links %}
                                                    <a href="{{ link }}" target="_blank" class="invoice_link"><button  class="my_button" >view receipt</button></a>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
								</td>
							</tr>		
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<div style="margin-left:20px;">No tax available.</div>
				{% endif %}
		</div>
	</div>
</div>

{% endblock %}
