{% extends "common/base_design.html" %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Tax" %}	
{% endblock %}


{% block mainbody %}
	<div class="section_container">
		<div class="content_type_container">
				<div class="content_type">
					<div class="img">
						<a href="/admin/tax/tax/search_tax/">
							<image width='128' height='128' border="0" src='/static/images/icons/tax_search.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/tax/search_tax/">Search</a></div>
				</div>
				<!--div class="content_type">
					<div class="img">
						<a href="/admin/tax/tax/manage_tax/">
							<image width='128' height='128' border="0" src='/static/images/icons/Tax Management.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/tax/manage_tax/">Tax management</a></div>
				</div-->
				<div class="content_type">
					<div class="img">
						<a href="/admin/tax/tax/verify_target/">
							<image width='128' height='128' border="0" src='/static/images/icons/Tax Management.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/tax/verify_citizen/">Submit / Pay Tax</a></div>
				</div>
				<div class="content_type">
					<div class="img">
						<a href="/admin/tax/tax/payment_search/">
							<image width='128' height='128' border="0" src='/static/images/icons/Tax Management.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/tax/payment_search/">Payment search</a></div>
				</div>
                {% if request.session.user.superuser %}
				<div class="content_type">
					<div class="img">
						<a href="/admin/tax/tax/viewtax_settings/">
							<image width='128' height='128' border="0" src='/static/images/icons/tax_rates.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/tax/viewtax_settings/">Tax Settings</a></div>
				</div>
                {% endif %}
                <div class="content_type">
					<div class="img">
						<a href="/admin/tax/tax/viewfee_settings/">
							<image width='128' height='128' border="0" src='/static/images/icons/tax_rates.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/tax/viewfee_settings/"> Fee Viewing</a></div>
				</div>
				<div class="content_type">
					<div class="img">
						<a href="/admin/tax/incomplete_payment/">
							<image width='128' height='128' border="0" src='/static/images/icons/Tax Management.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/incomplete_payment/">Incomplete payment</a></div>
				</div>
				<div class="content_type">
					<div class="img">
						<a href="/admin/tax/pending_payment/">
							<image width='128' height='128' border="0" src='/static/images/icons/Tax Management.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/incomplete_payment/">Pending payment</a></div>
				</div>
				{% if request.session.user.superuser %}
				<div class="content_type">
					<div class="img">
						<a href="{% url 'cleaning_audit' %}">
							<image width='128' height='128' border="0" src='/static/images/icons/Tax Management.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/incomplete_payment/">Cleaning Fee Audit</a></div>
				</div>
				{% endif %}
		</div>
	</div>		
	<div class="separator">&nbsp;</div>
	<div class="workflow_container"></div>
{% endblock %}
