{% extends "common/base_paytax_business.html" %}
{% load staticfiles %}
{% load humanize %}{% load simple_tags %}

{% block css %}

{% endblock %}	

{% block rightpanel %}
<div style="text-align:left; margin-left:30px; margin-top:15px;">

{% if fees %}
	<div style="margin-left:20px;margin-right:20px;text-align:center;">
		<form action="{% url 'pay_fees' %}" method="post">
		<table style="margin:0 auto;" class="tablesorter" cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				<td width="30" style="border: 1px solid #c4c4c4; padding: 5px 8px;"><input type="checkbox" id="checkAllBox" /></td>
				<th>Fee Name</th>
				<th>Branch</th>
				<th>Amount</th>
				<th>Remaining Amount</th>
				<th>Due On</th>
                <th>Media</th>
				<th align="center" width="210">Action</th>
			</tr>	
			</thead>
			<tbody>
			{% for i in fees %}
				<tr {% if i.due_date %}class="overdue"{% endif %}>
                    <td>
						{% if not i.is_paid and i.submit_date  %}
                        <input type="checkbox" name="tax_id" value="{{i.id}}" class="multi_pay_checkbox" />
						{% endif %}
                        <!--<input type="hidden" value="{{i.name}}_{{i.obj_id}}_{{i.branch}}" id="mark_{{i.id}}" />-->

                    </td>
					<td>{{i}}<br/>{{i.target}}</td>
					<td>
						{% if i.subbusiness %}
							{{i.subbusiness.branch}}
						{% else %}
							Main
						{% endif %}
					</td>
					<td>							
						{% if i.is_paid != 1 %}
							{% if i.amount %}
								<div class="pending">{{i.amount|currency}} {{i.currency|title}}</div>
							{% else %}
								<div class="pending">Not specified</div>
							{% endif %}
						{% else %}
						<div class="paid">{{i.amount|currency}} {{i.currency|title}}<br/><b>PAID</b></div>
						{% endif %}
                        {% if i.payments.count %}
                        <a href="/admin/tax/tax/past_payments/?type=fee&id={{ i.pk }}" class="fancy_box" >show past payments</a>
                        {% endif %}
					</td>
					<td>
						{{ i.remaining_amount|currency }}
					</td>
                    <td>
                        {% if i.due_date %}
                            {{ i.due_date|date:"d M Y"}} {% if i.due_date|timesince != '0 minutes' and i.remaining_amount > 0 %}<div class="errorlist">overdue {{ i.due_date|timesince }}</div>{% endif %}
						{% else %}
							N/A
						{% endif %}
                    </td>
                    <td>
                        {% if i.medias %}
                            {% for media in i.medias %}
                            <a href="/admin/media/media/preview/{{ media.id }}/" class="fancy_box"><img class="media_link" src="{% static "images/file_thumb.jpg" %}" title="{{ media.title }} <{{media.description}}> - Uploaded on {{ media.date_created|date:'d/m/Y'}}"/></a>
                            {% endfor %}
						{% else %}
							N/A
						{% endif %}
                    </td>

                    <td>
                        {% if i.fee_type == 'land_lease'  and not i.submit_date %}
							<a href="{% url 'submit_land_lease'  i.pk %}" class="my_button" >submit</a>
                        {% endif %}

                        {% for payment in i.payments.all %}
                        	<a href="/admin/tax/tax/generate_invoice/?type=fee&id={{ payment.pk }}" class="my_button">view receipt - {{ payment.amount|currency }}</a>
                        {% endfor %}

                        {% if i.remaining_amount > 0 %}
                        	<a href="/admin/tax/tax/generate_epayinvoice/?type=fee&id={{ i.id }}" class="my_button" >view ePay Invoice</a>
                        	<a href="{% url 'pay_fee' 'fee' i.id %}" class="my_button" >pay</a>
                        {% endif %}
                    </td>
				</tr>
			{% endfor %}
			</tbody>							
		</table>
        <br/>
        <button style="float: left;"  class="my_button" id="pay_multiple_btn_old" name="select" value="select">pay selected fees</button>&nbsp;&nbsp;&nbsp;
        <!--<button style="float: left; margin-left: 20px;"  class="my_button" id="view_epay_multiple_btn" >view ePay Invoice of selected fees</button>-->
	{% csrf_token %}
	<input type="hidden" name="template_type" value="business" />
	<input name="business_pk" value="{{ business.pk }}" type="hidden" />

	</form>
	</div>
    {% else %}
    No fee available.
	{% endif %}


</div>
{% endblock %}