{% extends "common/base.html" %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Tax" %}	
{% endblock %}


{% block mainbody %}
	<div class="section_container">
		<div class="content_type_container">
				<div class="content_type">
					<div class="img">
						<a href="/admin/tax/tax/search_tax/">
							<image width='128' height='128' src='/static/images/icons/tax_search.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/tax/search_tax/">Search</a></div>
				</div>
				
				<div class="content_type">
					<div class="img">
						<a href="/admin/tax/tax/declarevalue_tax/">
							<image width='128' height='128' src='/static/images/icons/Declare Value.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/tax/declarevalue_tax/">Declare value</a></div>
				</div>
				<div class="content_type">
					<div class="img">
						<a href="/admin/tax/tax/paytax_tax/">
							<image width='128' height='128' src='/static/images/icons/Tax Management.png'></image>
						</a>
					</div>
					<div class="desc"><a href="/admin/tax/tax/paytax_tax/">Tax management</a></div>
				</div>
		</div>
	</div>		
	<div class="separator">&nbsp;</div>
	<div class="workflow_container"></div>
{% endblock %}
