{% extends "crud/account.html" %}

{% block body %}

	<h3 style="display:inline;">Balance Owing: {{ account.balance }} &nbsp;Overdue: {{ account.overdue }}</h3>
	as at {{ account.period_ending }}
	<div><a href="{% url 'new_payment' account.pk %}" class="btn btn-success">New Payment</a> | <a href="{% url 'account_archive_transactions' account.pk %}">Archived</a></div>
	<p/>
	<h3>Transactions</h3>
	<table class="table">
	<tr>
		<th></th>
		<th>Date</th>
		<th>Fee</th>
		<th>Due date</th>
		<th>Amount</th>
		<th>Balance</th>
		<th>Outstanding</th>
	</tr>
	{% for t in transactions %}
	<tr {% if account.closed_off and t.trans_date <= account.closed_off %}style="background:#cccccc"{% endif %}>
		<td>{{t.pk|slugify}}</td>
		<td>{{t.trans_date}}</td>
		<td>{{t.description|safe}}</td>
		<td>{{ t.due_date }}</td>
		<td>{{ t.amount }}</td>
		<td>{{ t.kitty }}</td>
		<td>{{ t.balance }}</td>
	</tr>
	{% endfor %}
	</table>
	<h4>Fee Summary</h4>
	<div>
	Principle Due: <strong>{{ account.principle_due}}</strong>&nbsp; Penalty Due: <strong>{{ account.penalty_due }}</strong>&nbsp;
	Interest Due: <strong>{{ account.interest_due }}</strong>&nbsp;as at {{ account.period_ending }}
	</div>
		<table class="table">
	<tr>
		<th>Fee</th>
		<th>Principle</th>
		<th>Principle Paid</th>
		<th>Principle Due</th>
		<th>Interest</th>
		<th>Interest Paid</th>
		<th>Interest Due</th>
		<th>Penalty</th>
		<th>Penalty Paid</th>
		<th>Penalty Due</th>
	</tr>
	{% for f in fees %}
	<tr {% if f.closed %}style="background:#cccccc"{% endif %}>
		<td>{{f }}</td>
		<td>{{f.amount}}</td>
		<td>{{f.principle_paid}}</td>
		<td>{{ f.principle_due }}</td>
		<td>{{f.interest_total}}</td>
		<td>{{f.interest_paid}}</td>
		<td>{{ f.interest_due }}</td>
		<td>{{f.penalty_total}}</td>
		<td>{{f.penalty_paid}}</td>
		<td>{{ f.penalty_due }}</td>
	</tr>
	</tr>
	{% endfor %}
	</table>
{% endblock %}

