{% extends "crud/main.html" %}

{% block main %}

<h1>Account No. {{ account.pk|slugify }} - {{ account.name }}</h1>
<h3>Phone: {{ account.phone }},&nbsp; Email: {{ account.email }}</h3>
<hr/>
<h3 style="float:right; margin-right:20px">{{ account.start_date }} - {{ account.end_date|default:'Active' }}</h3>

<div>

<h3>{% autoescape off %}{{ account.utility_list|safe }}{% endautoescape %}</h3>

</div>
<div>

<a href="{% url 'account_transactions' account.pk %}"  class="btn btn-default">Transactions</a>
<a href="{% url 'account_payments' account.pk %}"  class="btn btn-default">Payments</a>
<a href="{% url 'account_fees' account.pk %}"  class="btn btn-default">Fees</a>
<a href="{% url 'fee_collections' account.pk %}"  class="btn btn-default">Collections</a>
<a href="{% url 'new_fee_collection' account.pk %}"  class="btn btn-default">New Collection</a>
<a href="{% url 'edit_account' account.pk %}"  class="btn btn-default">Edit Account</a>
<a href="{% url 'account_media' account.pk %}"  class="btn btn-default">Media</a>
<a href="{% url 'account_holders' account.pk %}"  class="btn btn-default">Account Holders</a>
<a href="{% url 'account_notes' account.pk %}"  class="btn btn-default">Account Notes</a>
<a href="{% url 'account_contacts' account.pk %}"  class="btn btn-default">Contacts</a>
<a href="{% url 'add_account_dates' account.pk %}"  class="btn btn-default">Add operating dates</a>
<a href="{% url 'account_logs' account.pk %}"  class="btn btn-default">Logs</a>

<!--<a href="{% url 'account_payments' account.pk %}">Running Balance</a>-->
</div>

<div>
{% block body %}


{% endblock %}
</div>

{% endblock %}

