{% extends "crud/main.html" %}

{% block main %}
	<div><a href="{% url 'district' cell.sector.district.pk %}">{{ cell.sector.district }} district</a> &#8594 <a href="{% url 'sector' cell.sector.district.pk %}">{{ cell.sector.district }} sector</a></div>
	<h1>{{ cell }} cell</h1>
	<div>
		<a href="{% url 'cell' cell.pk %}">Villages</a> | <a href="{% url 'cell_update' cell.pk %}">Update Cell</a>
	</div>
	<p/>
	{% block frame %}
		<div style="overflow:auto;">
			<h3>Villages</h3>
			{% for v in villages %}
				<div style="float:left; width:100px;"><h4><a href="{% url 'village' v.pk %}">{{ v }}</a></h4></div>
			{% endfor %}
		</div>
	{% endblock %}

{% endblock %}
