{% extends "crud/account.html" %}

{% block body %}
	<h2>Fee Collections</h2>
	<form method="post">
	<table border="1">
	<tr>
		<th>id</th>
		<th>Period</th>
		<th>No. collections</th>
		<th>Receipt no.s</th>
		<th>Amount</th>
		<th>User</th>

	</tr>
	{% for c in collections %}
	<tr>
		<td>{{c.pk}}</td>
		<td>{{ c.date_from }} - {{ c.date_to|default:'active' }}</td>
		<td>{{ c.no_collections|default:'-' }}</td>
		<td>{{ c.receipt_no }}</td>
		<td>{{ c.amount }}</td>
		<td>{{ c.user }}</td>
	</tr>
	{% endfor %}
	</table>
	</form>
{% endblock %}

