{% extends "crud/main.html" %}

{% block main %}

	<h3>Top 100 accounts only</h3>

	<table class="table">
	<tr>
		<th>Account Number</th>
		<th>Account Name</th>
		<th>CID</th>
		<th>TIN</th>
		<th>UPI</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Fee</th>
		<th>Balance</th>
		<th>Overdue</th>
	</tr>
	{% for af in account_fees %}
	<tr>
		<td><a href="{% url 'account' af.account_id %}">{{ af.account_id|slugify }}</a></td>
		<td>{{af.account__name}}</td>
		<td>{{af.account__citizen_id|default:'-'|slugify}}</td>
		<td>{{af.account__tin|default:'-'|slugify}}</td>
		<td>{{af.upi|default:'-'}}</td>
		<td>{{af.account__phone|default:'-'}}</td>
		<td>{{af.account__email|default:'-'}}</td>
		<td>{{af.fee_type__name}}</td>
		<td>{{af.balance}}</td>
		<td>{{af.overdue}}</td>
	</tr>
	{% endfor %}
	</table>

{% endblock %}

