{% extends "crud/account.html" %}

{% block body %}
	<h2>Account Fees / Taxes</h2>
	<a href="{% url 'new_account_fee' account.pk %}">New Fee</a>
	<form method="post">
	<table class="table">
	<tr>
		<th>id</th>
		<th>Period</th>
		<th>Fee</th>
		<th>Category</th>
		<th>Utility/Site</th>
		<th>Qty/Size</th>
		<th>Balance</th>
		<th>Overdue</th>
		<th>Closed off</th>
		<th>Status</th>

	</tr>
	{% for f in fees %}
	<tr>
		<td>{{f.pk|slugify}}</td>
		<td>{{ f.from_date }} - {{ f.to_date|default:'active' }}</td>
		<td>{{ f.fee_type }}</td>
		<td>{{ f.fee_subtype|default:'-' }}</td>
		<td>{{ f.prop|default:f.utility|default:'- ' }}</td>
		<td>{{ f.quantity|default:'-' }}</td>
		<td>{{ f.balance }}</td>
		<td>{{ f.overdue }}</td>
		<td>{{ f.closed|default:'-' }}</td>
		<td>{{ f.status|default:'-' }}</td>
	</tr>
	{% endfor %}
	</table>
	</form>
{% endblock %}

