{% extends "crud/account.html" %}

{% block body %}
	<h2>Account Fees / Taxes</h2>
	<a href="{% url 'new_account_fee' account.pk %}">New Fee</a>
	<form method="post">
	<table class="table">
	<tr>
		<th>id</th>
		<th>Period</th>
		<th>Fee</th>
		<th>Utility/Site</th>
		<th>Interest due /paid </th>
		<th>Penalty due /paid </th>
		<th>Principle due /paid</th>

	</tr>
	{% for f in fees %}
	<tr>
		<td>{{f.pk|slugify}}</td>
		<td>{{ f.from_date }} - {{ f.to_date|default:'active' }}</td>
		<td>{{ f.fee_type }}</td>
		<td>{{ f.prop|default:f.utility|default:'- ' }}</td>
		<td>{{ f.interest_due }} / {{ f.interest_paid }}</td>
		<td>{{ f.penalty_due }} / {{ f.penalty_paid }}</td>
		<td>{{ f.principle_due }} / {{ f.principle_paid }}</td>
	</tr>
	{% endfor %}
	</table>
	</form>
{% endblock %}

