{% extends "crud/main.html" %}
{% load static from staticfiles %}
{% block main %}
<script>
	var sector_posted = {{ request.POST.sector|default:'0' }};
	var cell_posted = {{ request.POST.cell|default:6|default:'0' }};
	var village_posted = {{ request.POST.village|default:9|default:'0' }};
</script>
<script src="{% static 'js/load_region_data.js' %}"></script>


{% if current_markets %}
	<h2>Select from available {{ form.cleaned_data.utility_type }} sites in {{ form.cleaned_data.village }} village, <br/>or create a new market location below</h1>
	<table border="1">
	<tr><th>Market Location</th><th>UPI</th><th>GPS</th></tr>
	{% for m in current_markets %}
		<tr><td>{{ m }}</td><td>{{ m.upi }}</td><td>{{ m.location.coords }}</td><td><a href="{% url 'new_market_account' m.pk %}">Use this market Location</a></td></tr>
	{% endfor %}
	</table>
{% endif %}
<p/>
<hr/>
<h3>{{heading}}</h3>
<form method="post" action="{% url 'new_market_post' %}">
<table>
	{{ form }}
{% csrf_token %}
</table>
<input type="submit" value="Submit">
</form>
{% endblock %}
