{% extends "crud/account.html" %}
{% load staticfiles %}
{% block body %}
<style>
.f{
	float:left;
	margin-right:20px;
	margin-bottom:10px;
	padding:20px;
	border-radius:6px;
	border:1pt solid #cccccc;
}
</style>
<h1>New Payment</h1>
<form method="post" enctype="multipart/form-data">
<div style="overflow:hidden; margin-top:20px;">
	<div class="f">
		<table class="table">
		{{ form }}
		{% csrf_token %}
		</table>
	</div>

</div>

</table>
<input type="submit" value="Submit">
	</form>
{% endblock %}
