{% extends "crud/main.html" %}

{% block main %}
	<h2>Recent Logs</h2>
	<table class="table" id="logTable">
	<thead>
	<tr>
		<th>id</th>
		<th>Date</th>
		<th>Time</th>
		<th>User</th>
		<th>Account</th>
		<th>Record</th>
		<th>Request/IP</th>
		<th style="display:hidden;">Changes</th>

	</tr>
	<thead>

	<tbody>
	</tbody>

	</table>

	<script>
	oTable = $('#logTable').DataTable( {
	serverSide: true,
	deferRender: true,
	searching: false,
	//searchDelay: 1000,
    ajax: {
        url: "{% url 'log_json' %}",
        dataSrc: 'data',

    },
    columns: [
    	{ data: 'id' },
        { data: 'created' },
        { data: 'time' },
        { data: 'user' },
        { data: 'account' },
        { data: 'instance' },
        { data: 'request_ip' },
        { data: 'changes' }
    ],

	} );


	/*
	$(document).ready(function() {
	    oTable.$('td').click(function(){
	    	$(this).siblings('#changes').fadeIn();
	    	return false;

	    });
	});
*/

	$(document).ready(function() {
	    //var table = $('#example').DataTable();
	    $('#logTable tbody').on('click', 'td a.show_changes', function () {
	    	$(this).siblings('.changes').toggle(400);
	    	return false;
	    } );
	} );

	</script>
{% endblock %}

