{% extends "crud/main.html" %}
{% load staticfiles %}
{% block main %}
<style>
.f{
	float:left;
	margin-right:20px;
	margin-bottom:10px;
	padding:20px;
	border-radius:6px;
	border:1pt solid #cccccc;
}
</style>
<h1>{{heading}}</h1>
<form method="post" enctype="multipart/form-data">
<div style="overflow:hidden; margin-top:20px;">
	<div class="f">
		<table>
		{{ form }}
		{% csrf_token %}
		</table>
	</div>


</div>
<p/>
<input type="submit" value="Search" class="btn btn-default">
	</form>
	{% if not results %}
	<p>No results found</p>
	{% endif %}
	<table class="table">
		<tr><th></th><th>Record Type</th><th></th><th>Phone</th>
			<th>TIN</th><th>CID</th>
		</tr>
		{% for r in results %}
		<tr><td><a href="
		{% if r.0.name == 'account' %}
			{% url 'account' r.1.pk %}
		{% endif %}
		{% if r.0.name == 'profile' %}
			{% url 'edit_user' r.1.user.pk %}
		{% endif %}
		">{{ r.1 }}</a></td>

	<td>{{ r.0|capfirst }}</td>

	<td>
		{% if r.0.name == 'account' %}
			<a href="{% url 'make_payment' r.1.pk %}" class="btn btn-success">Make Payment</a>
		{% endif %}
	</td>

	<td>
		{{ r.1.phone|default:'-' }}
	</td>

	<td>
		{{ r.1.tin|default:'-'|slugify }}
	</td>

	<td>
		{{ r.1.citizen_id|default:'-'|slugify }}
	</td>

	</tr>
		{% endfor %}
	</table>
{% endblock %}
