{% extends "crud/sector.html" %}

{% block frame %}
	<h3>Rates</h3>
	<table border="1" class="table table-hover table-striped">
		<tr>
			<th>id</th>
			<th>Village</th>
			<th>Category</th>
			<th>Sub Category</th>
			<th>Rate</th>
			<th>Effective From</th>
		</tr>
		{% for r in rates %}
			<tr><td>{{ r.pk }}</td>
				<td>{% if r.village %}<a href="{% url 'village' r.village.pk %}">{{ r.village }}</a>{% endif %}</td>
				<td>{{ r.category }}</td>
				<td>{{ r.sub_category }}</td>
				<td>{{ r.amount }}</td>
				<td>{{ r.date_from }}</td>
				<td><a href="{% url 'rate_update' r.pk %}?next={{ request.path }}">Edit</a></td></tr>
		{% endfor %}
	</table>
{% endblock %}
