{% extends "crud/main.html" %}
{% load static from staticfiles %}
{% block main %}
<style>
.f{
	float:left;
	margin-right:20px;
	padding:20px;
	border-radius:6px;
	border:1pt solid #cccccc;
	margin-bottom:10px;
}
</style>
<h1>{{heading}}</h1>

{% if form.instance %}
	<div>
	<a href="{% url 'user_logs' form.instance.pk %}">Logs</a>
	</div>
{% endif %}
<form method="post" enctype="multipart/form-data">
<div style="overflow:hidden; margin-top:20px;">
	<div class="f">
		<table>
		{{ form }}
		{% csrf_token %}
		</table>
		<p/>
		{% if form.instance.profile.photo %}
			<img style="max-width:90%" src="{% static form.instance.profile.photo.url %}">
		{% endif %}
	</div>

</div>
<button id="test">Submit</button>
</form>
{% endblock %}
