{% extends "crud/main.html" %}

{% block main %}
	<h2>Logs for <a href="{% url 'edit_user' user.pk %}">{{ user }}</a></h2>
	<table class="table">
	<tr>
		<th>id</th>
		<th>Date</th>
		<th>Account</th>
		<th>Changes</th>
		<th>Request/IP</th>

	</tr>
	{% for c in logs %}
	<tr>
		<td>{{c.pk}}</td>
		<td>{{ c.created }}</td>
		<td>{% if c.account %}<a href="{% url 'account' c.account.pk %}">{{ c.account }}</a>{% else %}-{% endif %}</td>
		<td><div>{{ c.instance }}</div>
			<div>{{ c.changes_as_html|safe }}</div></td>
		<td><div>{% if c.request_path %}<a href="{{ c.request_path }}">{{ c.request_path }}</a>{% else %}{% endif %}</div><div>IP: {{ c.request_ip|default:'-' }}</div></td>
	</tr>
	{% endfor %}
	</table>
{% endblock %}

