{% extends "crud/main.html" %}

{% block main %}
	<h1>Users</h1>
	<form method="post">
	<table  class="table" id="usersTable">
	<thead>
	<tr>
		<th>id</th>
		<th>Username</th>
		<th>First name</th>
		<th>Last name</th>
		<th></th>

	</tr>
	</thead>
	<tbody>

	<tbody>
	</table>
	</form>
	<script>
	$('#usersTable').DataTable( {
	serverSide: true,
	deferRender: true,
	//searchDelay: 1000,
    ajax: {
        url: "{% url 'user_list_json' %}",
        dataSrc: 'data',

    },
    columns: [
    	{ data: 'id' },
        { data: 'username' },
        { data: 'first_name' },
        { data: 'last_name' },
        { data: 'edit_link' }
    ]

	} );

	</script>


{% endblock %}
