{% extends "crud/main.html" %}

{% block main %}
<h1>{{heading}}</h1>

<div>
<form method="post">
<table>
{{ form }}
{% csrf_token %}
</table>
<input type="submit" value="Add New">
</form>
</div>
<p/>
<div>
{% for t in utility_types %}
	<a href="{% url 'utilities_type' t.code %}">{{ t.name }}</a>&nbsp;
{% endfor %}

</div>
<p/>
<table border="1">
<tr><th></th><th>Type</th><th>Location</th></tr>
{% for u in utilities %}
	<tr><td><a href="{% url 'update_utility' u.pk %}">{{ u }}</a></td>
	<td>{{ u.utility_type }}</td>
	<td>{{ u.location.coords }}</td></tr>
{% endfor %}
</table>
</div>

{% endblock %}
