{% extends "common/base.html" %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
{% endblock %}

{% block mainbody %}
	<div class="section_container">
		<div class="content_type_container">
			{% for content_type in content_types %}
				{% if content_type.name != 'permission' %}
				<div class="content_type">
					<div class="img">
						<a href="{{content_type.access_link}}">
							{% if content_type.image  %}
								<image width='128' border="0" height='128' src='/static/images/{{content_type.image}}'></image>
							{% else %}
								<image width='128' border="0" height='128'  src='/static/images/blank.jpg'></image>
							{% endif %}
						</a>
					</div>
					<div class="desc"><a href="{{content_type.access_link}}">{{content_type.name|capfirst}}</a></div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="permission">
			{% for content_type in content_types %}
				{% if content_type.name == 'permission' %}
				<div class="content_type">
					<div class="img">
						<a href="{{content_type.access_link}}">
							<image width='128' height='128' border="0"  src='/static/images/blank.jpg'></image>
						</a>
					</div>
					<div class="desc"><a href="{{content_type.access_link}}">{{content_type.name|capfirst}}</a></div>
				</div>
				{% endif %}
			{% endfor %}
		</div>	
	</div>			

	<div class="separator">&nbsp;</div>

	<div class="workflow_container">
		<div class="permission_container">
		{% for per in permissions %}
			<div class="permission">
				<div class="img">
					<a href="{{per.access_link}}">
						<image border="0" width='128' height='128'  src='/static/images/blank.jpg'></image>
					</a>
				</div>
				<div class="desc"><a href="{{per.access_link}}">{{per.display_name}}</a></div>
			</div>
		{% endfor %}		
		</div>
	</div>
{% endblock %}
