{% extends "common/base_design.html" %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "" %} 
{% endblock %}

{% block mainbody %}
	<div class="section_container">
		{% for key, value in content_types %}
		<div class="content_type_container" style="display:block">
			{% for content_type in value %}
				{% ifnotequal content_type.name 'permission' %}
				<div class="content_type">
					<div class="img">
						<a href="{{content_type.access_link}}"
							{% ifequal content_type.name 'report' %}
								target="_blank"
							{% endifequal %}
						>
							{% if content_type.image  %}
								<image width='128' border="0" height='128' src='/static/images/{{content_type.image}}'></image>
							{% else %}
								<image width='128' border="0" height='128'  src='/static/images/blank.jpg'></image>
							{% endif %}
						</a>
					</div>
					<div class="desc"><a href="{{content_type.access_link}}"
							{% ifequal content_type.name 'report' %}
								target="_blank"
							{% endifequal %}
						>
						{% ifequal content_type.name 'media' %}
						Document upload
						{% else %}
						{{content_type.name|capfirst}}
						{% endifequal %}
					    </a></div>
				</div>
				{% endifnotequal%}
			{% endfor %}
		</div>
		<div style="clear:both"></div>
		<div style="height:2px; line-height:2px; margin-top:10px; border-bottom:1px dotted #cccccc;">&nbsp;</div>
		{% endfor %}
	</div>
{% endblock %}
