{% extends "common/base.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/user.css" %}" />
{% endblock %}
{% block javascript %}
	<script type="text/javascript"  src="/static/js/admin/user.js"></script>
{% endblock %}

{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %} 
	{% breadcrumb "User" "/admin/auth/user/" %}
	{% breadcrumb "Select user" "/admin/auth/user/change_user" %}
	{% breadcrumb "Change user" %}	
{% endblock %}



{% block mainbody %}


<div class="group_container">
	<div class="group_creation_table">
		<form onsubmit="return check_user_change_form();" action="/admin/auth/user/change_user1/" method="post" >
			{% csrf_token %}
			<table style="text-align: left; margin-left:10px;margin-top:20px; line-height:25px;">
				<tr>
					<td width="150">Firstname: </td>
					<td>{{form.firstname}} *</td>
					<td><span id='firstname_error'>&nbsp;</span></td>
				</tr>
				<tr>
					<td width="150">Lastname:</td>
					<td>{{form.lastname}} *</td>
					<td><span id='lastname_error'>&nbsp;</span></td>
				</tr>
				<tr>
					<td width="150">Email:</td>
					<td>{{form.email}} *</td>
					<td><span id='email_error'>&nbsp;</span></td>
				</tr>
				<tr>
					<td width="150">Password:</td>
					<td>{{form.password}} *</td>
					<td><span id='password_error'>&nbsp;</span></td>
				</tr>
				<tr>
					<td width="150">Contact number: </td>
					<td>{{form.contactnumber}}</td>
					<td><span id='contactnumber_error'>&nbsp;</span></td>
				</tr>
				<tr>
					<td width="150">Is super user ? </td>
					<td>{{form.superuser}}</td>
					<td><span id='superuser_error'>&nbsp;</span></td>
				</tr>
				<tr>
					<td width="150">Is active ? </td>
					<td>{{form.active}}</td>
					<td><span id='active_error'>&nbsp;</span></td>
				</tr>
				<tr>
					<td width="150">Date joined: </td>
					<td>{{form.datejoined}}</td>
					<td><span id='datejoined_error'>&nbsp;</span></td>
				</tr>					
				<tr>
					<td width="150">Group(s): </td>
					<td>{{form.groups_selected}}</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td width="150">Permissions(s): </td>
					<td>{{form.permissions_selected}}</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td height="40">&nbsp;<span style="display:none;">{{form.user_id}}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><input type="submit" value="Update group" /></td>
					<td>&nbsp;</td>
				</tr>
			</table>
			{% if form.errors %}
				{{form.errors|striptags }}
			{% endif %}
			<div style="display:none;">
				{{form.group_id}}
				{{form.groups}}
				{{form.permissions}}
			</div>
		</form>
	</div>
</div>


<script>
	changeUser();
</script>

{% endblock %}
