<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>User Login</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin/login.css" %}" />
</head>
<body>
	<form action="/admin/" method="post">
		{% csrf_token %}
		<div class="container">
			<div class="title">Transaction administration</div>
			{% if errorMessageType > 0 %}
			<div class="errormessage">Your username and password were incorrect.</div>
			{% endif %}
			<div class="row1">
				<div class="column1">Username:</div>
				<div class="column2"><input type="text" name="username" autocomplete="off" id="id_username" /></div>
			</div>
			<div class="row2">
				<div class="column1">Password:</div>
				<div class="column2">
					<input type="password" name="password" autocomplete="off" id="id_password" />
				</div>
			</div>
			<div class="row3">
				<div class="column1">&nbsp;</div>
				<div class="column2"><input type="submit" value="Log in" /></div>
			</div>			
		</div>
	</form>
</body>
</html>