<html>
	<head>
		<title></title>
	</head>
	<body style="font-size:13px;">
		<div style="font-size:14px; font-weight:bold;">
			<table style="width:100%">
				<tr>
					<td align="left">REPUBLIC OF RWANDA</td>
					<td align="right" style="margin-right:100px;">......./..../...</td>
				</tr>
			</table>
		</div>
		
		<div style="margin-top:10px; margin-left:30px;">
			<img width='101' height='109' src="/static/images/rwanda_logo.jpeg"/>
		</div>
		<div style="margin-top:10px;">
			<table style="line-height:20px; font-size:14px; font-weight:bold; ">
				<tr>
					<td valign='top' style="width:400px;">
						CITY OF KIGALI/..........PROVINCE<br>
						.........DISTRICT
					</td>
				</tr>
			</table>
		</div>
		<div style="line-height:25px; border:1px solid black; text-align:center; margin:0 auto; width:500px; margin-top:20px;">
			FEES ASSESSMENT NOTICE N<sup style='font-size:8px;'>0</sup>
		</div>
		<div style="margin-top:30px; margin-left:50px; font-weight:bold;">
			Ms./Mr..........<br>
			Resident of (Sector, Cell, Village): .............<br>
			P.O.BOX:..........<br>
			Building identification
			<br><br>
			<div style="width:300px;border:1px solid black; line-height:20px; font-weight:normal;padding-left:5px;">
				Period: ..........
			</div>
		</div>
		
		<div style="margin-top:10px; font-size:13px;">
			<table style="font-size:13px;">
				<tr>
					<td valign="top">
						<div>
							According to the article 30 of the Presidential Order n<sup style='font-size:8px;'>0</sup> 25/01 of 09/07/2012 establishing the list of fees and other charges 
							levied by Decentralised entities and determining their thresholds,
						 </div>
						 <div style="margin-top:10px;">
						 	We hereby inform you that the following fees are imposed to your fiscal account:
						 	<div style="margin-left:100px;">
						 		<table cellpadding="0" cellspacing="0">
						 			<tr>
						 				<td width="200">Type of fee: ........</td><td width="50" style="border:1px solid black;"></td>
						 			</tr>
						 			<tr>
						 				<td>Base of fee: ........</td><td style="border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
						 			</tr>
						 			<tr>
						 				<td>Fee due: .......</td><td style="border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
						 			</tr>
						 			<tr>
						 				<td>Fines: .......</td><td style="border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
						 			</tr>
						 			<tr>
						 				<td>Total to be paid ......</td><td style="border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
						 			</tr>
						 		</table>
						 	</div>
						 </div>	
						 <div>
						 	Total amount of ................................<br>
						 	Payment date: within eight days (8) after receiving this assessment note</br>
						 	<table style="font-size:13px;">
						 		<tr>
						 			<td width="150">To be banked at:</td>
						 			<td>ACCOUNT n<sup style='font-size:8px;'>0</sup>..........</td>
						 		</tr>
						 		<tr>
						 			<td>&nbsp;</td>
						 			<td>Bank: .....</td>
						 		</tr> 
						 	</table>
						 </div>
					</td>
					<td align="left">
						<table border='1' cellpadding="0" cellspacing="0" style="table-layout:fixed; width:120px; font-size:12px;">
							<tr>
								<td height="50" valign="bottom" style="text-decoration:underline;">Observations:</td>
							</tr>
							<tr>
								<td height="100">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		
		
			<div>
				<br/>
				Delay interests on are calculated from ......... At a rate of <strong>1.5%</strong> per month
				<br/><br/>
				<strong>NB:</strong> You have within seven days, the right to appeal to the district council
			</div>
			
			
			<div style="margin-top:30px;">
				<table style="width:100%; font-size:13px;">
					<tr>
						<td>&nbsp;</td>
						<td width="50%">
							Established by the Local Revenue Officer<br>
							......................................<br>
							Approved by the Executive Secretary of the District<br>
							......................................
						</td>
					</tr>
				<table>
				
			</div>
			
			
			
		</div>
	</body>
</html>