<html>
	<head>
		<title></title>
	</head>
	<body>
		<div style="font-size:16px; font-weight:bold;">REPUBLIC OF RWANDA</div>
		<div style="margin-top:10px; margin-left:30px;">
			<img width='101' height='109' src="{{domain_name}}static/images/rwanda_logo.jpeg"/>
		</div>
		<div style="margin-top:30px;">
			<table style="line-height:20px; font-size:16px; font-weight:bold; ">
				<tr>
					<td valign='top' style="width:400px;">
						Province: {{location_and_tin.province}}<br>
						District: {{location_and_tin.district}}
					</td>
					<td valign='top'>
						Date: {{today}}
					</td>
				</tr>
			</table>
		</div>
		
		<div style="margin-top:40px; font-weight:bold;">
			{{citizen.salutation}} {{citizen.fullname}}<br>
			TIN: {{location_and_tin.tin}}<br>
			P.O.BOX: {{citizen.po_box}}
		</div>
		
		<div style="margin-top:30px; text-align:justify">
			Dear Madam/Sir,<br/><br/>
			<strong>Subject:</strong> Warning letter {{tax_description}}<br/><br/><br/><br/>
			{{citizen.salutation}} {{citizen.fullname}},<br><br>
			
			Reference is made to the article 31 of the Presidential order n<sup style='font-size:8px;'>0</sup> 25/01 of 09/07/2012 establishing the list of fees and other charges 
			levied by decentralized entities and determing their thresholds, we hereby inform you that your debt related to the fees on {{tax_description}} is now equivalent {{late_fee_detail.total}} <strong>Rwf</strong>.
			According to the assessment notice received on {{assessment_notice_date}}, this debt includes:
		<div>
		<div style="margin-left:20px;">
			<span style="font-family: Arial Unicode MS, Lucida Grande">&#10004;</span> the fees due of {{late_fee_detail.due_amount}} <strong>Rwf</strong><br/>
			<span style="font-family: Arial Unicode MS, Lucida Grande">&#10004;</span> penalties of {{late_fee_detail.surcharge}} <strong>Rwf</strong><br/>
			<span style="font-family: Arial Unicode MS, Lucida Grande">&#10004;</span> and interests of {{late_fee_detail.interest}} <strong>Rwf</strong> on late payment up to the month of {{current_month}}	
		</div>
		<br>
		<div>
			The debt must be paid not later than five days (5) upon receipt of this letter.<br><br>
			We also take this opportunity to remind you that from {{today}}, the debt is always being increased with interest on late payment of 1.5% per month. You are therefore advised to 
			comply with this legal requirement in order to avoid further enforcement actions that may be taken or be prosecuted by the competent courts.
			<br/><br/><br/>
			Regards<br/br/>
			<span>Executive Secretary of {{location_and_tin.district}} district</span>
		</div>
	</body>
</html>