<html>
	<head>
		<title></title>
	</head>
	<body>
		<div style="font-size:16px; font-weight:bold;">REPUBLIC OF RWANDA</div>
		<div style="margin-top:10px; margin-left:30px;">
			<img width='101' height='109' src="/static/images/rwanda_logo.jpeg"/>
		</div>
		<div style="margin-top:30px;">
			<table style="line-height:20px; font-size:16px; font-weight:bold; ">
				<tr>
					<td valign='top' style="width:400px;">
						Province: {{province}}<br>
						District: {{district}}
					</td>
					<td valign='top'>
						Date: {{date}}
					</td>
				</tr>
			</table>
		</div>
		
		<div style="margin-top:40px; font-weight:bold;">
			Ms./Mr..........<br>
			TIN:.......... <br>
			P.O.BOX:..........<br><br><br>
			<strong>Subject:</strong> Fine assessment note<br/><br/>
		</div>
		
		<div style="margin-top:30px; text-align:justify">
			Dear Madam/Sir,<br/><br/>
			We inform you that you have commited an offence of ................... This is considered as an interference with the functioning of the District. 
			Therefore, you have to pay a fine of ........ Rwf, as provided by the article 28 of law n<sup style='font-size:8px;'>0</sup> 59/2011 of 31/12/2011
			establishing the sources of revenue and property of decentralized entities and governing their management.
			
			<br/><br/><br/>
			Regards<br/br/>
			<span>Executive Secretary the district</span>
		</div>
		
		
		
	</body>
</html>