{% extends "crud/main.html" %}
{% load static from staticfiles %}
{% block main %}
<script>
	var sector_posted = {{ request.POST.sector|default:'0' }};
	var cell_posted = {{ request.POST.cell|default:6|default:'0' }};
	var village_posted = {{ request.POST.village|default:9|default:'0' }};
</script>
<script src="{% static 'js/load_region_data.js' %}"></script>
<h1>{{heading}}</h1>
<div>
<form method="post">
<table>
{{ form }}
{% csrf_token %}
</table>
<input type="submit" value="Add New">
</form>
</div>

{% endblock %}
