<div style="width:100%; text-align:left;">
	<div class="box">
		{% if media %}
			<div style="margin:10px;margin-left:0px;">
				<table cellpadding="0" cellspacing="0" class="tablesorter" style="width: 600px;">
					<thead>
						<tr>
							<th width="50">Date Upload</th>
                            <th width="100">File Name</th>
							<th>Title</th>
							<th>Description</th>
							<th>Tags</th>
                            <th width="150">Thumbnail</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					{% for i in media %}
						<tr>
							<td>{{ i.date_created|date:"d/m/Y" }}</td>
                            <td>{{ i.file_name }}</td>
							<td><input type="text" class="ajax_title" id="title_{{i.id}}" value="{% if i.title %} {{i.title}} {%endif%}" maxlength="150" /></td>
							<td><textarea id="description_{{ i.id}}" class="ajax_description" >{% if i.description %} {{ i.description }} {% endif %}</textarea></td>
							<td>{{ i.tags }}</td>
                            <td>{% if 'image/' in i.file_type %}<a href="/media/{{ i.path }}" class="fancy_box"><img src="/media/{{ i.path }}" width="140"  /></a>{% endif %}</td>
							<td><a href="/media/{{ i.path }}" target="_blank">Download</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
            {% load staticfiles %}

            <script type="text/javascript" src="{% static 'js/jquery.ba-throttle-debounce.js' %}"></script>

            <script type="text/javascript" language="javascript">
                $(function(){
                    function updateMediaDescription(){
                        var id = $(this).attr("id").replace("description_","");
                        $.ajax({
                            type: "GET",
                            url: "/admin/media/media/update/",
                            data: { id: id, description: $(this).val() }
                        }).done(function( msg ) {
                        });
                    }
                    function updateMediaTitle(){
                        var id = $(this).attr("id").replace("title_","");
                        $.ajax({
                            type: "GET",
                            url: "/admin/media/media/update/",
                            data: { id: id, title: $(this).val() }
                        }).done(function( msg ) {
                        });
                    }

                    $(".ajax_description").keyup($.debounce( 800, updateMediaDescription));

                    $(".ajax_title").keyup($.debounce( 800, updateMediaTitle));
                })                 
            </script>
		{% else %}
			<div class="note" >This {{ type }} has no Associative media.</div>
		{% endif %}
	</div>
</div>