{% extends "common/base_design.html" %}
{% load staticfiles %}
{% load simple_tags %}


{% block css  %}

    <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static "js/plugins/forms/uniform/uniform.default.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap-responsive.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/supr-theme/jquery.ui.supr.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}" />


	<link rel="stylesheet" type="text/css" href="{% static "js/plugins/misc/qtip/jquery.qtip.css" %}" />

	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/design/base.css" %}" />

{% endblock %}

{% load breadcrumb %}
{% block crumbbody %}
    {% breadcrumb "Home" "/admin/" %}
    {% breadcrumb "Business" "/admin/asset/business/" %}
    {% breadcrumb "Merge Business List" "/admin/duplicates/" %}
    {% breadcrumb "Merge Business" %}
{% endblock %}

{% block mainbody %}
<h2>Business Merge - Preview</h2>
<form method="post" action="{% url 'merge_business' %}">

{{ form.errors }}
<table class="tablesorter">
<tr><th>Name</th><th>Started</th><th>Phone</th><th>TIN</th><th>Record created</th></tr>
<tr><td><input type="checkbox" name="business" value="{{ business.pk }}"><b>{{ business }}</b></td>
    <td>{{ business.date_started }}</td>
    <td>{{ business.phone1|default:business.phone2 }}</td>
    <td>{{ business.tin|default:'' }}</td>
    <td>{{ business.date_created|default:'' }}</td>
</tr>
{% for duplicate in duplicates %}
    <tr><td><input type="checkbox" name="business" value="{{ duplicate.business2.pk }}">{{ duplicate.business2 }}</td>
        <td>{{ business.date_started }}</td>
        <td>{{ duplicate.business2.phone1|default:duplicate.business2.phone2 }}</td>
        <td>{{ duplicate.business2.tin|default:'' }}</td>
        <td>{{ duplicate.business2.date_created|default:'' }}</td>
    </tr>
{% endfor %}
</table>
<input type="submit" value="Merge Selected Businesses" name="merge_preview">
{% csrf_token %}
</form>

{% endblock %}
