<div >
    <form method="post" id="update_tax_exempt_box"  action="/admin/property/property/update_taxexempt/{{ property.id }}/" enctype="multipart/form-data" >
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <div class="errorlist" id="errors"></div>
        <div style="margin-top:30px;">
            <button type="submit" class="my_button" onclick="" >Submit</button>
        </div>
    </form>
<script type="text/javascript">
    $(function(){
        $("#update_tax_exempt_box").submit(function () {
            if ($("#id_is_tax_exempt").attr('checked') == 'checked') {
                if ($("#id_tax_exempt_reason").val() == '') {
                    $(this).find("#errors").html("Please select Tax Exempt Reason!!!");
                    return false;
                }
                if ($("#id_proof").val() == '') {
                    $(this).find("#errors").html("Please select the Proof of Approval Document for this Exemption");
                    return false;
                }
                if ($("#id_proof").val().indexOf('.jpg') < 0 && $("#id_proof").val().indexOf('.png') < 0 && $("#id_proof").val().indexOf('.gif') < 0) {
                    $(this).find("#errors").html("PProof of Approval Document must be in Image format (.jpg, .png, .gif)");
                    return false;
                }
                if ($("#id_tax_exempt_reason").val() == 'Other' && $("#id_tax_exempt_note").val() == '') {
                    $(this).find("#errors").html("Please describe Tax Exempt Reason in the Note field below");
                    return false;
                }
            }
            return true;
        });
    });
</script>
</div>