{% extends "common/base_design.html" %}
{% load staticfiles %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/property.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/tax.css" %}" />
{% endblock %}

{% block javascript %}
	<script type="text/javascript"  src="/static/js/admin/property1.js"></script>
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Property" "/admin/property/property/" %} 
	{% breadcrumb "Select property" "/admin/property/property/view_property/" %} 
	{% breadcrumb "View property" %}	
{% endblock %}
{% block mainbody %}



<div id="maparea">							
	<div id="leftpanels">
		<div class="leftpanel">
			<div class="panelcontent" style="display:none;">
				<div style="margin-left:10px;">
					<div style="height:30px; margin-top:8px; font-size:16px; line-height: 30px;">
						<div>Propety Info:</div>
					</div>
					<div style="margin-top:15px;">
						<table style=" font-size:14px; height:30px; line-height:30px;" cellpadding="0" cellspacing="0">
							<tr>
								<td width="150" colspan="2"><strong> Plot ID# </strong>{{property.plot_id}}
								</td>
							</tr>
							<tr>
								<td> <strong>Parcel ID: </strong>{{property.parcel_id}} &nbsp;</td>
							</tr>
							<tr>
								<td> <strong>Village: </strong>{{property.village}} &nbsp;</td>
							</tr>
							<tr>
								<td> <strong>Cell: </strong>{{property.cell}} &nbsp;</td>
							</tr>
							<tr>
								<td><strong>Sector: </strong> {{property.sector.name}}</td>
							</tr>
							<tr>
								<td><strong>Is Leasing: </strong> <input type="checkbox" {% if property.is_leasing %} checked="checked" {% endif %} id="leasing_checkbox" /> </td>
							</tr>
						</table>
					</div>
					<div style="display:none;" id="points">
						{{points}}
					</div>	
				</div>
			</div>
			<div class="hidepanel" style="display:none;">
				<img src='{% static "images/icons/left.jpg" %}' />
			</div>
			<div class="showpanel">
				<img src='{% static "images/icons/right.jpg" %}' />
				<div class="rotate" >
					Info
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
		
		<div class="leftpanel">
			<div class="panelcontent">		
						
				<div style="">
					<div class='box' style="text-align:left; width:420px;">			
						<div class='box_title'>Owner details:</div>
						{% if ownerships %}
						{% with ownerships|first as ownership %}
						<div class='box_detail'><strong>First name:</strong>{{ownership.owner_citizen.first_name}}</div>
						<div class='box_detail'><strong>Last name:</strong>{{ownership.owner_citizen.last_name}}</div>
						{% endwith %}
						{% else %}
						<div class='box_detail'><strong>First name:</strong> N/A </div>
						<div class='box_detail'><strong>Last name:</strong> N/A </div>
						{% endif %}
						
					</div>

					<div class='box' style="text-align:left; width:420px;">			
						<div class='box_title'>Associative Media:</div>
                        {% include "media/_media_box_simple.html" with media=media type="property" id=property.id %}						
					</div>

					<div class='box' style="text-align:left; width:420px;">			
						<div class='box_title'>Official declared value:</div>
						{% if declarevalues|length == 0 %}
							<div class='box_detail'><strong>Amount: </strong> N/A</div>
							<div class='box_detail'><strong>Date submitted: </strong> N/A</div>
							<div class='box_detail'><strong>Submitted by: </strong> N/A</div>
							<div class='box_detail'><strong>Staff name: </strong> N/A</div>
						{% else %}
							{% with declarevalues|first as declarevalue %}
							<div class='box_detail'><strong>Amount: </strong>{{declarevalue.amount}}</div>
							<div class='box_detail'><strong>Date submitted: </strong>{{declarevalue.datetime}}</div>
							<div class='box_detail'><strong>Submitted by: </strong>stanley Lin</div>
							<div class='box_detail'><strong>Staff name: </strong>Justin Hopley</div>
							{% endwith%}
						{% endif %}		
					</div>				
					<div class='box' style="text-align:left;width:420px">			
						<div class='box_title'>Declared value history:</div>
						<div class='transactionhistory_div'>					
							<table id='transaction_table' cellpadding='0' cellspacing='0'>
								<tr>
									<td class='firstrowfirstcolumn'><strong>Date</strong></td>
									<td class='firstrow'><strong>Amount</strong></td>
									<td class='firstrow'><strong>Accept</strong></td>
									<td class='firstrow'><strong>Official</strong></td>
								</tr>
						{% if declarevalues|length == 0 %}
								<tr>
									<td colspan='4' class='firstcolumn' align='center'> This property has no declared values.</td>
								<tr>
						{% else %}
							{% for declarevalue in declarevalues %}
								<tr>
									<td class='firstcolumn'>{{declarevalue.datetime}}</td>
									<td class='normal'>{{declarevalue.amount}}</td>
									<td class='normal'>{{declarevalue.accepted}}</td>
									<td class='normal'>Justin Hopley</td>
								</tr>
							{% endfor %}	
						{% endif %}
							</table>
						</div>				
					</div>
					<div class='box' style="text-align:left; width:420px;">			
						<div class='box_title'>Tax paid history:</div>
						<div class='box_detail' style="text-align:center">
							{% if paid_taxes %}
								<table id='transaction_table' cellpadding='0' cellspacing='0'>
									<tr>
										<td class='firstrowfirstcolumn'><strong>Paid Date</strong></td>
										<td class='firstrow'><strong>Amount</strong></td>
										<td class='firstrow'><strong>Type</strong></td>
									</tr>
								{% for i in paid_taxes %}
									<tr>
										<td class='firstcolumn'>{{i.paid_date|date:'Y-m-d'}}</td>
										<td class='normal'>{{i.amount}}</td>
										<td class='normal'>{{i.type}}</td>
									</tr>
								{% endfor %}
								</table>
							{% else %}
							<strong>No tax has been paid yet regarding this property.</strong>
							{% endif %}
						</div>

					</div>
					
					<div class='box' style="text-align:left; width:420px;">			
						<div class='box_title'>Property transaction history:</div>
						<div class='box_detail' style="text-align:center"><strong>No transaction record found.</strong></div>
					</div>	
					<div style="clear:both"></div>			
				</div>
				
				<div class="clear"></div>
			</div>

			<div class="hidepanel">
				<img src='{% static "images/icons/left.jpg" %}' />
			</div>
			<div class="showpanel" style="display:none;">
				<img src='{% static "images/icons/right.jpg" %}' />
				<div class="rotate" >
					Details
				</div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>

	</div>
	<div style="width:inherit; height:100%; padding-bottom: 0px; margin-bottom: 0px;" id="map"></div>
	<div style="z-index:100000; background-color:transparent; position:absolute; right:6px; top:3px;">
		<div id="panel"></div>
	</div>

</div>


<div style="clear:both;">&nbsp;</div>


{% endblock %}


