{% extends "common/base.html" %}
{% load staticfiles %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/property.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/tax.css" %}" />
{% endblock %}

{% block javascript %}
	<script type="text/javascript"  src="/static/js/admin/council.js"></script>
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Council" "/admin/property/council/" %} 
	{% breadcrumb "Add council" %}	
{% endblock %}
{% block mainbody %}
{% csrf_token %}





<div id="maparea">
	<div id="leftpanels">
		<div class="leftpanel">
			<div class="panelcontent">
				<div style="margin-left:15px;">
					
					
					<div style="margin-top:20px;">
						<table style="font-size: 15px; line-height: 30px;" cellpadding="1" cellspacing="0">
							<tr>
								<td><strong>Council name:</strong></td>
								<td>{{form.name}}</td>
							</tr>
							<tr>
								<td><strong>Address: </strong></td>
								<td>{{form.address}}</td>
							</tr>
						</table>
					</div>
					<div id="error" style="color:red; font-size:15px; margin-top:20px;">
						&nbsp;
					</div>
					
					<div style="margin-top:20px;">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td><button type="button" id="addBoundary" onClick="toggle();">Add boundary</button></td>
								<td><div id="boundary_error"></div></td>
							</tr>
						</table>
					</div>		
					<div style="margin-top:30px; margin-bottom:10px;">
						<input type="submit" onclick="return check_council_registration_form();" value="submit" name="submit"/>
					</div>									
					<div style="display:none">
						{{form.boundary}}
					</div>
					
					
					
				</div>
			</div>
			<div class="hidepanel">
				<img src='{% static "images/icons/left.jpg" %}' />
			</div>
			<div class="showpanel"  style="display:none;">
				<img src='{% static "images/icons/right.jpg" %}' />	
			</div>
			<div style="clear:both"></div>
		</div>
	</div>	
	<div style="width:inherit; height:100%; border:1px solid #cccccc; padding-bottom: 0px; margin-bottom: 0px;" id="map"></div>	
</div>
{% endblock %}