{% extends "common/base.html" %}
{% load staticfiles %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/property.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/tax.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/pmode/jquery-ui-1.8.23.custom.css" %}" />
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script src="http://openlayers.org/api/OpenLayers.js"></script>
	<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
	<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
	<script type="text/javascript"  src="/static/js/admin/property1.js"></script>
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Council" "/admin/property/council/" %} 
	{% breadcrumb "Select council" "/admin/property/council/view_council/" %} 
	{% breadcrumb "View council" %}	
{% endblock %}


{% block mainbody %}

<div style="display:block">
	<table width="100%" cellpadding="5" cellspacing="0">
		<tr>
			<!-- sidebar td -->
			<td valign="top" align="left" width="300">
				<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
					<div style="height:30px; line-height: 30px;" class="tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
						Council Info:
					</div >
					<div style="margin-top:20px;">
						<div style= "line-height:30px; font-size: 15px; margin-left:10px;">
							<strong>Council name: </strong>{{council.name}}<br>
							<strong>Council address: </strong>{{council.address}}						
						</div>
					</div>
				</div>
			</td>
			<td valign="top">
				<div id="tabs">
					<ul class='tabs'>
					    <li><a href="#tab1">Map</a></li>
					</ul>
					<div id='tab1'>
						<div id="maparea">
							<div style="height:600px;">
								<div style="width:100%;height:100%;border:1px solid #cccccc;" id="map"></div>
							</div>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
				<div style="clear:both; line-height:2px; height:2px;">
					&nbsp;
				</div>
				
				
				<div style="display:none;" id="points">
					{{points}}
				</div>
			</td>
		</tr>
	</table>
</div>	
{% endblock %}

























