{% extends "common/base.html" %}
{% load staticfiles %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/property.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/tax.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/user.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/pmode/jquery-ui-1.8.23.custom.css" %}" />
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript"  src="/static/js/admin/district.js"></script>
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "District" "/admin/property/district/" %} 
	{% breadcrumb "Select district" %}	
{% endblock %}


{% block mainbody %}
<div style="margin-top:20px; font-weight:bold; font-size:16px;text-align:left; margin-left:20px;">
	<div>Please enter district name to search.</div>
	<form action="/admin/property/district/view_district/" onsubmit="return checkDistrictConditions();" method="post" >
		{% csrf_token %}
		<div style="font-size:14px; font-weight:normal;margin-top:20px">
			<div class="user_dropdown">
				<div class="keyword_div">
					{% if form.name.value %}
					<input autocomplete="off" type="text" class="keyword" value="{{form.name.value}}"  name ="name" id="id_name"/>
					{% else %}
					<input autocomplete="off" type="text" class="keyword"  name ="name" id="id_name"/>
					{% endif %}
				</div>
				<div id="matched_users_list" class="matched_users_div">
				</div>
			</div>
		</div>
		<div style="color:red; width:600px; height:25px; line-height: 25px; margin-top:5px; font-size:14px;" id="search_error">
			{{error_message}}
		</div>
		<div style="margin-top:10px;">
			<input type="submit" value="Search"/>
		</div>
	</form>
</div>
<script>
	selectDistrict();
</script>

{% endblock %}

























