{% extends "common/base.html" %}
{% load staticfiles %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/property.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/admin/tax.css" %}" />
{% endblock %}


{% block javascript %}
	<script type="text/javascript"  src="{% static "js/admin/council_display.js" %}"></script>
{% endblock %}


{% load breadcrumb %}
{% block crumbbody %}
	{% breadcrumb "Home" "/admin/" %}
	{% breadcrumb "Council" "/admin/property/council/" %} 
	{% breadcrumb "Select council" "/admin/property/council/view_council/" %} 
	{% breadcrumb "View council" %}	
{% endblock %}
{% block mainbody %}


<div id="maparea">
	<div id="leftpanels">
		<div class="leftpanel">
			<div class="panelcontent">
				<div style="margin-left:15px;">
					
					<div style="height:30px; margin-top:8px; line-height: 30px;">
						<table cellpadding="0" width="100%" cellspacing="0">
							<tr>
								<td align="left" id="council_title">View Councils:</td>
							</tr>
						</table>
							
					</div >
					<div style="color:red; margin-top:20px; display: none; font-size:15px;" id="selectmessage">Please select a council from the map. </div>
					<div style="margin-top:20px; display:none;" id="details">
						<div style= "line-height:30px; font-size: 13px;">
							<strong>Council name: </strong>{{council.name}}<br>
							<strong>Council address: </strong>{{council.address}}						
						</div>
						{% if sectors %}
						<div style="font-size:13px; margin-top:20px;">
							Show sectors &nbsp;<input type="checkbox" name="showsectors" checked="checked" id="showsectors">
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="hidepanel">
				<img src='{% static "images/icons/left.jpg" %}' />
			</div>
			<div class="showpanel"  style="display:none;">
				<img src='{% static "images/icons/right.jpg" %}' />	
			</div>
			<div style="clear:both"></div>
			
			<div style="display:none;" id="points">
				{{councils}}
			</div>
			<div style="display:none;" id="displaytext">
				{{council.name}}
			</div>				
			<div style="display:none;" id="sectors">
				{% if sectors %}
					{{sectors}}
				{% endif %}
			</div>
						
			
		</div>
	</div>
	<div style="width:inherit; height:100%; border:1px solid #cccccc; padding-bottom: 0px; margin-bottom: 0px;" id="map"></div>
</div>
{% endblock %}

























