@media screen,print
{
	.group_container
	{
		display: block;
		text-align: center;
	}

		.group_container .group_table
		{
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-top: 20px;
		}

	.group_table table
	{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		min-width: 50%;
	}


	.group_separator
	{
		margin-top: 20px;
		height: 2px;
		line-height: 2px;
		display: block;
		border-bottom: 1px solid #cccccc;
	}

	.group_action
	{
		margin-top: 20px;
	}

		.group_action a:link, .group_action a:visited
		{
			text-decoration: none;
			margin-left: 20px;
			color: #333333;
		}

	.group_container .group_creation_table
	{
		text-align: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	.group_creation_form_permission
	{
		width: 180px;
		height: 200px;
	}
}
