@media screen,print
{
	.log_table
	{
		text-align: left;
	}


	.firstrow
	{
		border-top: 1px solid #CCCCCC;
	}

	.firstcolumn
	{
		border-left: 1px solid #CCCCCC;
	}

	.firstrowfirstcolumn
	{
		border: 1px solid #CCCCCC;
	}

	.log_table table
	{
		margin-left: auto;
		margin-right: auto;
	}

		.log_table table tr td, .log_table table tr th
		{
			padding: 3px 10px;
			border-bottom: 1px solid #CCCCCC;
			border-right: 1px solid #CCCCCC;
			font-family: Verdana;
		}

		.log_table table tr th
		{
			padding: 3px 10px;
			border-bottom: 1px solid #CCCCCC;
			border-right: 1px solid #CCCCCC;
			font-family: Verdana;
		}

	.logproperty
	{
		color: #990000;
		font-weight: bold;
	}

	.loguser
	{
		color: #000099;
		font-weight: bold;
	}

	.loggroup
	{
		color: #990099;
		font-weight: bold;
	}

	.logcitizen
	{
		color: #009900;
		font-weight: bold;
	}
}
