body{
    background: #eee;
    color:green;
    text-align:center;
    font-size:13px;
    font-family: Verdana,Arial,sans-serif;
    	background:url('/static/images/login/b5a.jpg') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}

.container{
	float:right;
	margin-top:25px;
	padding-bottom:10px;
	margin-right:25px;
}



.container .errormessage{
	color:red;
	border: 1px solid red;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:300px;
	background-color:yellow;
}

.container .row1{
	height:20px;
	margin-top:5px;
	line-height:20px;
}
.container .row2{
	height:20px;
	margin-top:10px;
	line-height:20px;
}
.container .row3{
	margin-top:10px;
	height:20px;
	line-height:20px;
}


.column1{
	font-family:'Jockey One',sans-serif;
	float:left;
	width:150px;
	text-align:right;
	font-size:18px;
	color:white;
	font-weight:bold;
	text-shadow: 2px 2px #555;
}

.column2{
	margin-left:5px;
	float:left;
	font-family:'Jockey One',sans-serif;
}
.column2 input{
	font-family:'Jockey One',sans-serif;
	font-weight:bold;
	font-size:14px;
}

.bgi {

}








