@media screen,print
{
	.user_container
	{
		margin-top: 30px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.user_table
	{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}


	.firstrow
	{
		border-top: 1px solid #CCCCCC;
	}

	.firstcolumn
	{
		border-left: 1px solid #CCCCCC;
	}

	.firstrowfirstcolumn
	{
		border: 1px solid #CCCCCC;
	}

	.user_table table
	{
		margin-left: auto;
		margin-right: auto;
	}

		.user_table table tr td
		{
			border-bottom: 1px solid #CCCCCC;
			border-right: 1px solid #CCCCCC;
		}

	.user_separator
	{
		clear: both;
		display: block;
		height: 2px;
		line-height: 2px;
		margin-top: 20px;
		border-bottom: 1px solid #CCCCCC;
	}

	.user_action
	{
		margin-top: 20px;
	}

		.user_action a:link, .user_action a:visited
		{
			text-decoration: none;
			margin-left: 20px;
			color: #333333;
		}

	.user_action_title
	{
		margin-top: 15px;
		margin-bottom: 20px;
		margin-left: 10px;
		display: block;
		text-align: left;
		font-size: 18px;
	}

	.user_registration_form
	{
		margin-top: 10px;
		text-align: left;
		margin-left: 10px;
	}

	.user_creation_form_permission
	{
		width: 180px;
		height: 200px;
	}

	.user_change_form_groups
	{
		width: 180px;
		height: 200px;
	}

	.user_change_form_permissions
	{
		width: 180px;
		height: 200px;
	}

	.user_dropdown
	{
		display: block;
		position: relative;
	}

		.user_dropdown .keyword_div
		{
			margin: 0px;
			padding: 0px;
		}

			.user_dropdown .keyword_div input.keyword
			{
				width: 200px;
				height: 18px;
				font-size: 12px;
				padding: 0px;
				line-height: 16px;
			}

	.matched_users_div
	{
		position: absolute;
		left: 0px;
		line-height: 22px;
		top: 22px;
		width: 154px;
		background-color: #EEEEEE;
	}

		.matched_users_div ul
		{
			width: 154px;
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

			.matched_users_div ul li
			{
				border-bottom: 1px dotted #cccccc;
				font-size: 12px;
				width: 154px;
				text-indent: 4px;
			}
}
